<app-header></app-header> 
<div class="frameMain">
    <div class="framePreVisualizacao">
        <div class="framePublicar">        
            Publicar
        </div>
    </div>

    <div class="frameConteudo">
        <div class="framePublicacao" >
            <div class="framePublicacao2">
                <div class="frameCorpo">
                    <div class="frameTitulo">
                        {{publicacao.titulo}}
                        <div class="frameSubTitulo">
                            {{publicacao.subtitulo}}
                        </div> 
                    </div>
                    <div class="frameCorpoConteudo" >
                        <div class="frameImage">
                            <img src="../../../../../assets/imgs/ExemploImagemCapa.png" width="100%"/>
                            <div class="frameLegenda">
                                {{publicacao.legenda}}
                            </div>
                        </div>
                        <div class="frameCorpoTexto" [innerHTML]="publicacao.descricao">                    
                        </div>                    
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="frameVisualizacaoFoot">
        Publicar
    </div>
</div>