<!-- Page Content

<div class="wrapper">
    <body class="py-auto  mb-auto " style="background: linear-gradient(99.15deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 96.57%), linear-gradient(99.06deg, rgba(237, 77, 154, 0.7) 0.9%, rgba(233, 207, 46, 0.7) 96.73%);">
      <div class="container main-container">
          <div class="row text-center">
            <div class="container h-100">
              <div class="row h-100 align-items-center py-5">
                <div class="col-lg-12 center" style="text-align:center">
                  <h1 class="display-2 mt-5 mb-2">Bem vindo ao SebraeLab!</h1>
                  <p class="lead mb-5 ">Toque para prosseguir.</p>
                </div>
              </div>
            </div>
          </div>
      </div> 
    </body>
</div>  -->


<body class="py-auto mb-auto body " style="background: linear-gradient(99.15deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 96.57%), linear-gradient(99.06deg, rgba(237, 77, 154, 0.7) 0.9%, rgba(233, 207, 46, 0.7) 96.73%);">

  <div class="col-lg-12 " style="text-align:center">
    <br><br><br><br>
    <h1 class="display-1">Bem vindo ao SebraeLab!</h1>
    <p class="lead mb-5 ">Toque para prosseguir.</p>
  </div>         
</body>


