<div class="frameMain" >
  <div class="frameMainBody" [ngStyle]="{'left': !isMobile? '100px':'5px','width': !isMobile? '70%':'100%' }">
        <div class="frameNaPratica">
            <div [ngClass]="!isMobile?'frameTitleNaPratica':'frameTitleNaPraticaMobile'">
                NA PRÁTICA
            </div>
            <div [ngClass]="!isMobile?'frameTextoNaPratica':'frameTextoNaPraticaMobile'">
                <p>Os empreendedores podem participar ou coordenar eventos que buscam a promoção dos três pilares do conceito sebraelab: LEARN, ATTEND e BUSINESS.</p>

                <p>Entenda o que são esses pilares e as metodologias que cada um traz com o objetivo de desenvolver as perspectivas do aprendizado, da participação e dos negócios.</p>

                <div style="color: #BC1264;">Ao clicar em cada uma das letras do “LAB” você descobrirá o seu significado.</div>
            </div>

            <div class="frameLetrasLAB" *ngIf="!isMobile">
                
                <div class="frameListLetrasLAB" id="banners">
                    <div class="frameLetraL">
                        <div class="frameLetra" (click)="selectLetra('L')" id="bannerLEARN">L</div>
                    </div>
                    <div class="frameLetraA">
                        <div class="frameLetra" (click)="selectLetra('A')" id="bannerATTEND">A</div>
                    </div>
                    <div class="frameLetraB">
                        <div class="frameLetra" (click)="selectLetra('B')" id="bannerBUSINESS">B</div>
                    </div>
                </div>
                <div class="frameSignificadoLetra">
                    <div class="frameLetraSelecionada">                        
                        <div class="frameTextoLetraSelecionada" *ngIf="selectedLetra=='L'" id="bannersLEARN">       
                            <img src="assets/imgs/letraL.png"/>  
                            <div class="frameTextoLetraSelecionadaCabecalho">
                                Focado na concentração, esse pilar estimula a troca de experiências e de conhecimento, além de atividades práticas que permitam um aprendizado validado.
                            </div>
                            <div class="frameTextoLetraSelecionadaConteudoCentral">                                
                                <div class="frameTextoLetraSelecionadaConteudoCentralEsquerdo">
                                    <h2>Share Ideas</h2>
                                    Troca de experiências e conhecimento, palestras, debates, encontros, hangouts, eventos e qualquer interação que gere aprendizado.
                                </div>
                                <div class="frameTextoLetraSelecionadaConteudoCentralDireito">
                                    <h2>Hands On</h2>
                                    Atividades práticas de troca de conhecimento, como workshops, oficinas, treinamentos, dinâmicas de grupo e metodologias colaborativas
                                </div>
                            </div>
                            <div class="frameTextoLetraSelecionadaConteudoRodape">
                                <h2>Experience Day</h2>
                                Experimentação prática de dinâmicas oferecidas por ambientes de inovação, com troca de experiência com quem já vivenciou na prática.
                            </div>  
                        </div>     
                        
                        <div class="frameTextoLetraSelecionada" *ngIf="selectedLetra=='A'" id="bannersATTEND">       
                            <img src="assets/imgs/letraA.png"/>  
                            <div class="frameTextoLetraSelecionadaCabecalho">
                                Busca estimular a produção, com atividades de criação participativa e colaborativa, trazendo para o processo criativo a troca de ideias entre profissionais e clientes.                            </div>
                            <div class="frameTextoLetraSelecionadaConteudoCentral">                                
                                <div class="frameTextoLetraSelecionadaConteudoCentralEsquerdo">
                                    <h2>Coworking</h2>
                                    Modelo de trabalho que objetiva incentivar troca de ideias, compartilhamento, networking e colaboração entre diferentes profissionais. </div>
                                <div class="frameTextoLetraSelecionadaConteudoCentralDireito">
                                    <h2>Customer Development</h2>
                                    Atividades que objetivam a criação e atualização de soluções focadas no produto e no mercado a partir da interação com o cliente.</div>
                            </div>
                            <div class="frameTextoLetraSelecionadaConteudoRodape">
                                <h2>Hackathons</h2>
                                Atividades que estimulam a transformação de ideias em modelos de negócios inovadores. Maratona de negócios, Startup Weekend.</div>  
                        </div> 

                        <div class="frameTextoLetraSelecionada" *ngIf="selectedLetra=='B'" id="bannersBUSINESS">       
                            <img src="assets/imgs/letraB.png"/>  
                            <div class="frameTextoLetraSelecionadaCabecalho">
                                Baseado em conexão, busca potencializar relacionamentos e contatos de negócios, aconselhamentos em modelos de mercado.</div>
                            <div class="frameTextoLetraSelecionadaConteudoCentral">                                
                                <div class="frameTextoLetraSelecionadaConteudoCentralEsquerdo">
                                    <h2>Speed Networking</h2>
                                    Atividade projetada para acelerar conexões e contatos de negócios. Dinâmica cronometrada para estimular mais interações e trocas.</div>
                                <div class="frameTextoLetraSelecionadaConteudoCentralDireito">
                                    <h2>Speed Mentoring</h2>
                                    Atividade projetada para acelerar mentorias e aconselhamentos empresariais, de forma rápida e objetiva, com foco nos modelos de negócios.</div>
                            </div>
                            <div class="frameTextoLetraSelecionadaConteudoRodape">
                                <h2>Meetup</h2>
                                Encontro informal em que as pessoas conversam em pé, facilitando a circulação e o networking. Podem contar com Demoday para investidores.</div>  
                        </div> 

                    </div>                      
                </div>
            </div>

            <!--MOBILE-->

            <div *ngIf="isMobile" >

                
                <div class="p-grid" style="gap: 16px;">                    
                    <div class="frameLetraL p-col-3">
                        <div class="frameLetra" (click)="selectLetra('L')" >L</div>
                    </div>       
                     <div class="frameLetraA p-col-3">
                        <div class="frameLetra" (click)="selectLetra('A')" >A</div>
                    </div>
                    <div class="frameLetraB p-col-3">
                        <div class="frameLetra" (click)="selectLetra('B')" >B</div>
                    </div>
                </div>

                <div class="frameTextoLetraSelecionada p-grid" *ngIf="selectedLetra=='L'" id="bannersLEARN">       
                    <img src="assets/imgs/letraL.png"/>  
                    <div class="p-col-12">
                        Focado na concentração, esse pilar estimula a troca de experiências e de conhecimento, além de atividades práticas que permitam um aprendizado validado.
                    </div>                          
                    <div class="p-col-12">
                        <h2>Share Ideas</h2>
                        Troca de experiências e conhecimento, palestras, debates, encontros, hangouts, eventos e qualquer interação que gere aprendizado.
                    </div>
                    <div class="p-col-12">
                        <h2>Hands On</h2>
                        Atividades práticas de troca de conhecimento, como workshops, oficinas, treinamentos, dinâmicas de grupo e metodologias colaborativas
                    </div>
                    <div class="p-col-12">
                        <h2>Experience Day</h2>
                        Experimentação prática de dinâmicas oferecidas por ambientes de inovação, com troca de experiência com quem já vivenciou na prática.
                    </div>
                </div>  

                <div class="frameTextoLetraSelecionada  p-grid" *ngIf="selectedLetra=='A'" id="bannersATTEND">       
                    <img src="assets/imgs/letraA.png"/>  
                    <div class="p-col-12">
                        Busca estimular a produção, com atividades de criação participativa e colaborativa, trazendo para o processo criativo a troca de ideias entre profissionais e clientes.                            
                    </div>                              
                    <div class="p-col-12">
                        <h2>Coworking</h2>
                        Modelo de trabalho que objetiva incentivar troca de ideias, compartilhamento, networking e colaboração entre diferentes profissionais. 
                    </div>
                    <div class="p-col-12">
                        <h2>Customer Development</h2>
                        Atividades que objetivam a criação e atualização de soluções focadas no produto e no mercado a partir da interação com o cliente.
                    </div>
                    <div class="p-col-12">
                        <h2>Hackathons</h2>
                        Atividades que estimulam a transformação de ideias em modelos de negócios inovadores. Maratona de negócios, Startup Weekend.
                    </div>  
                </div> 

                <div class="frameTextoLetraSelecionada  p-grid" *ngIf="selectedLetra=='B'" id="bannersBUSINESS">       
                    <img src="assets/imgs/letraB.png"/>  
                    <div class="p-col-12">
                        Baseado em conexão, busca potencializar relacionamentos e contatos de negócios, aconselhamentos em modelos de mercado.
                    </div>                             
                    <div class="p-col-12">
                        <h2>Speed Networking</h2>
                        Atividade projetada para acelerar conexões e contatos de negócios. Dinâmica cronometrada para estimular mais interações e trocas.
                    </div>
                    <div class="p-col-12">
                        <h2>Speed Mentoring</h2>
                        Atividade projetada para acelerar mentorias e aconselhamentos empresariais, de forma rápida e objetiva, com foco nos modelos de negócios.
                    </div>
                    <div class="p-col-12">
                        <h2>Meetup</h2>
                        Encontro informal em que as pessoas conversam em pé, facilitando a circulação e o networking. Podem contar com Demoday para investidores.
                    </div>  
                </div>         
            </div>
        </div>
  </div>

</div>


