.frameMain{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 111px;
    gap: 120px;    
    position: absolute;
    width: 100%;
    height: 250px;
    left: -1px;
    top: 2600px;    
    background: rgba(139, 206, 220, 0.8);
}

.frameMainMobile{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    position: absolute;
    width: 100%;
    height: 367px;
    left: -1px;
    top: 2400px;    
    background: rgba(139, 206, 220, 0.8);
}


.frameEspacoTitle{
  
    /* Group 2497 */
    position: absolute;
    width: 226px;
    height: 66px;
    left: 145px;
    top: 56px;
}

.frameEspacoTexto{position: absolute;

    width: 931px;
    height: 120px;
    left: 144px;
    top: 138px;    
    /* Body / Big */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;    
    /* or 30px */    
    color: #000000;
}

.frameEspacoImagens{

    /* Frame 5786 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 1198px;
    height: 628px;
    left: 122px;
    top: 298px;
}

.frameButtons{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    
    width: 250px;
    height: 36px;
    
    /* Cores da Marca/Variações da Marca/Amarelo/2 */
    
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

    color: #263746;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    text-align: center;


}