
<div class="frameMain" *ngIf="!isMobile">
    <div class="p-grid p-col-12">
        <div class="p-col-6" >
            <h1>Espaço</h1>
            <div class="p-col-6">Oferecemos a estrutura aberta para o uso de todos. O agendamento é realizado aqui no site.</div>
            <p></p>
            <div class="frameButtons"  style="background: #E9CF2E;"><a href="./meuevento">Realize seu evento</a></div>
    
        </div>
        <div class="p-col-6">
            <h1>Produtos e/ou serviços</h1>             
            <div class="p-col-6">Para participar dos eventos, confira a agenda de eventos disponíveis e se inscreva.</div>
            <p></p>
            <div class="frameButtons"  style="border: 1px solid #263746;"><a href="./eventos">Confira nossa agenda</a></div> 
        </div>
    </div>
</div>

<div class="frameMainMobile" *ngIf="isMobile">
    <div class="p-grid p-col-12">
        <div class="p-col-12" >
            <h1>Espaço</h1>
            <div class="p-col-12">Oferecemos a estrutura aberta para o uso de todos. O agendamento é realizado aqui no site.</div>
            <p></p>
            <div class="frameButtons"  style="background: #E9CF2E;"><a href="./meuevento">Realize seu evento</a></div>

        </div>
        <div class="p-col-12">
            <h1>Produtos e/ou serviços</h1>             
            <div class="p-col-12">Para participar dos eventos, confira a agenda de eventos disponíveis e se inscreva.</div>
            <p></p>
            <div class="frameButtons"  style="border: 1px solid #263746;"><a href="./eventos">Confira nossa agenda</a></div> 
        </div>
    </div>
</div>


