<div class="frameMain" >

    <div class="frameTexto">
        <h1>ESPAÇO</h1>
        O Sebraelab promove conhecimento e potencializa conexões orgânicas, espontâneas e colaborativas entre pessoas e empresas, com objetivos comuns e complementares em experiências coletivas capazes de estimular a busca e a criação de modelos de negócios inovadores e a experimentação de soluções para clientes, parceiros e colaboradores. 
    </div>

    <div class="frameGaleria">
        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px', 'margin-top':'2em'}" [numVisible]="5"
        [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true"
        [showIndicatorsOnItem]="true"> 
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <div class="frameRodape">
        <app-contato-submit></app-contato-submit>
    </div>
    
</div>



