.frameMain{
    /* Rectangle 2544 */
    //border: 1px solid;
    position: absolute;
    width: 1440px;
    height: 2593px;
    left: 0px;
    top: 85px;
    background: #FFFFFF;
}

.framePreVisualizacao{  
   // border: 1px solid;  
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 1088px;
    height: 143px;
    left: 176px;
    top: 50px;
}

.framePublicar{
    //border: 1px solid;
    /* Frame 5932 */    

    flex-direction: column;
    align-items: flex-start;
    padding: 19px 32px;
    gap: 10px;

    width: 1088px;
    height: 103px;

    /* Cores da Marca/Variações da Marca/Laranja/2 */
    background: #EB893F;
    border-radius: 10px;

}

.frameTextPrevisualizacao{
    /* Frame 5925 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 774px;
height: 65px;


}

.buttonPublicar{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border:0px;
    background:#E9CF2E;
    width: 190px;
    height: 44px;
    color: #263746;;
}

.PreVisualizar{
    width: 204px;
    height: 34px;

    /* Heading/H4 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height, or 142% */
    display: flex;
    align-items: center;
    /* Tailwind/white */
    color: #FFFFFF;
}

.TextPreVisualizar{
    width: 774px;
    height: 27px;

    /* Body / Normal */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}



.frameConteudo{    
    /* Novo evento */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 0px 48px;
    gap: 40px;

    position: absolute;
    width: 912px;
    height: 2057px;
    left: 264px;
    top: 50px;
    //overflow-y: scroll;

    background: #FFFFFF;
    border-radius: 10px;
}

.framePublicacao{
/* Frame 5929 */
//border: 1px solid;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 64px;

width: 912px;
height: 1945px;
//overflow-y: scroll;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}

.framePublicacao2{
    /* Frame 5926 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 912px;
height: 1945px;
//overflow-y: scroll;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.frameCorpo{
    /* Frame 5922 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 640px;
height: 1929px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}


.frameTitulo{
    //border: 1px solid;
    /* Frame 5693 */
    //flex-direction: column;
    //align-items: center;
    padding: 0px;
    gap: 8px;
    //width: 640px;
    //height: 142px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    //line-height: 50px;
    /* Tailwind/slate/900 */
    color: #0F172A;
}

.frameSubTitulo{
   //border: 1px solid;
    //width: 640px;
    //height: 34px;

    /* Heading/H4 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    //line-height: 34px;
    color: #64748B;
}

.frameCorpoConteudo{
    //border: 1px solid;
    /* Corpo */

/* Auto layout */
flex-direction: column;
//align-items: center;
padding: 0px;
//gap: 72px;

//width: 640px;
//height: 1747px;



}


.frameImage{
    //border: 1px solid;
    /* Frame 5682 */

/* Auto layout */
//flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 640px;
height: 355px;



}

.frameLegenda{
    //border: 1px solid;
    /* Foto do nosso ambiente */

width: 170px;
height: 24px;

/* Body / Small */
font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 16px;
//line-height: 150%;

/* identical to box height, or 24px */
//align-items: center;

/* Tailwind/slate/600 */
color: #475569;

}
.frameCorpoTexto{
    //border: 1px solid;
    /* Frame 5685 */

/* Auto layout */
//display: flex;
//flex-direction: column;
//justify-content: center;
//align-items: center;
padding: 0px;
gap: 56px;

//width: 640px;
height: 1320px;


/* Inside auto layout */
//flex: none;
//order: 1;
//-self: stretch;
//flex-grow: 0;
}

.frameVisualizacaoFoot{
    //border: 1px solid;
    /* Frame 5932 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 32px;
    gap: 10px;
    position: absolute;
    width: 1087px;
    height: 103px;
    left: 176px;
    top: 2371px;
    /* Cores da Marca/Variações da Marca/Laranja/2 */
    background: #EB893F;
    border-radius: 10px;
}

.botaopersonalizado{
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 640px;
height: 82px;
}