
<app-header></app-header>
<div>  
    <app-banners-show [dispositivo]="this.dispositivo"></app-banners-show>
    <app-sebraelab-show [dispositivo]="this.dispositivo"></app-sebraelab-show>   
    <app-conteudo-show [dispositivo]="this.dispositivo"></app-conteudo-show>   
    <app-eventoslab-show [dispositivo]="this.dispositivo"></app-eventoslab-show>  
    <app-reserve-submit [dispositivo]="this.dispositivo"></app-reserve-submit>
    <app-ecosistema-show [dispositivo]="this.dispositivo"></app-ecosistema-show> 
</div>

<div class="Rodape">
    <app-contato-submit [dispositivo]="this.dispositivo"></app-contato-submit>    
</div>

 




