
<app-header></app-header>
<div>  
    <app-banners-show [isMobile]="this.isMobile"></app-banners-show>
    <app-sebraelab-show [isMobile]="this.isMobile"></app-sebraelab-show>   
    <app-conteudo-show [isMobile]="this.isMobile"></app-conteudo-show>   
    <app-eventoslab-show [isMobile]="this.isMobile"></app-eventoslab-show>
    <app-reserve-submit [isMobile]="this.isMobile"></app-reserve-submit>
   
    

    <div [ngClass]="!isMobile ? 'frameEcosistema':'frameEcosistemaMobile'">
        <app-ecosistema-show topFrameMain="!isMobile?1180px:3600px" 
        topframeTitle="!isMobile?1180px:950px" 
        topframeText="!isMobile?1180px:1000px" 
        [isMobile]="isMobile">       
        </app-ecosistema-show>
  </div>
</div>

<div class="Rodape">
    <app-contato-submit [isMobile]="this.isMobile"></app-contato-submit>    
</div>

 




