
<app-header></app-header>
<div>  
    <app-banners-show [isMobile]="this.isMobile"></app-banners-show>
    <app-sebraelab-show [isMobile]="this.isMobile"></app-sebraelab-show>   
    <app-conteudo-show [isMobile]="this.isMobile"></app-conteudo-show>   
    <app-eventoslab-show [isMobile]="this.isMobile"></app-eventoslab-show>  
    <app-reserve-submit [isMobile]="this.isMobile"></app-reserve-submit>
    <app-ecosistema-show [isMobile]="this.isMobile"></app-ecosistema-show> 
</div>

<div class="Rodape">
    <app-contato-submit [isMobile]="this.isMobile"></app-contato-submit>    
</div>

 




