<div *ngIf="publicacoes.length >0">
<p-dataView [value]="publicacoes" [paginator]="true" [rows]="5">
    <ng-template let-publicacao pTemplate="listItem">                            
        <p-card  styleClass="p-card-shadow" [ngStyle]="{'width': !isMobile?'55rem':'100%', 'margin-bottom': '0.5em', 'background-color':'#F8FAFC' }">
            <div>                                   
                {{publicacao.titulo}}                                     
            </div>                                      
        </p-card>
    </ng-template>
</p-dataView> 
</div>