<!-- Page Content 
<div class="container main-container">
   
    <h2> Cadastro </h2>
   
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <form class="col-md-06" novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm" style="background: #f5f5f5">

        <div class="form-horizontal col-md-06">
            
            <div class="form-group">
                <label class="col-md-2 control-label " for="nome">Nome Completo</label>
                <div class="col-md-6">
                    <input class="form-control font" id="nome" type="text" placeholder="" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                    <span class="text-danger" *ngIf="displayMessage.nome">
                        <p [innerHTML]="displayMessage.nome"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-6">
                    <input class="form-control font" id="cpf" type="text" placeholder="(Apenas números)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{'is-invalid': displayMessage.cpf }" />

                    <span class="text-danger" *ngIf="displayMessage.cpf">
                        <p [innerHTML]="displayMessage.cpf"></p>
                    </span>
                </div>
            </div> 

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-6">
                    <input class="form-control font" id="email" type="text" placeholder="(exemplo@exemplo.com.br)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

             <div class="form-group">
                <label class="col-md-4 control-label">Motivo da participação</label>
                <div class="col-md-6">
                    <select class="form-select font" style="text-align:center" formControlName="tipo" aria-label="Floating label select example" id="tipo">
                        <option value="" data-default disabled selected> Escolha uma das opções abaixo: </option>
                        <option value="1">Visita técnica</option>
                        <option value="2">Orientação</option>
                        <option value="3">Capacitação</option>
                        <option value="4">Coworking</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.tipo">
                        <p [innerHTML]="displayMessage.tipo"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Mês Aniversário</label> 
                <div class="col-md-2">
                        <select class="form-select" style="text-align:center" formControlName="nascimento" aria-label="Floating label select example" id="nascimento">
                            <option value="" data-default disabled selected> <b>-</b> </option>
                            <option value="1">01-Janeiro</option>
                            <option value="2">02-Fevereiro</option>
                            <option value="3">03-Março</option>
                            <option value="4">04-Abril</option>
                            <option value="5">05-Maio</option>
                            <option value="6">06-Junho</option>
                            <option value="7">07-Julho</option>
                            <option value="8">08-Agosto</option>
                            <option value="9">09-Setembro</option>
                            <option value="10">10-Outubro</option>
                            <option value="11">11-Novembro</option>
                            <option value="12">12-Dezembro</option>
                        </select>
                
                    <span class="text-danger" *ngIf="displayMessage.nascimento">
                        <p [innerHTML]="displayMessage.nascimento"></p>
                    </span>
                </div>
            </div> <br>

            <div class="form-group">
                <div class="col-md-5 col-md-offset-2" style="text-align:center">
                    <span><button class="btn btn-success" id="Registrar" 
                        style="--bs-btn-padding-y: .70rem; --bs-btn-padding-x: 1.40rem; --bs-btn-font-size: 1.40rem;"
                        [disabled]="!cadastroForm.valid" type="submit">Salvar</button></span>
                    
                </div>
            </div>
        </div>
    </form>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</div>

-->

<div class="container main-container ">
   
    <h2> Evento </h2>
   
    <hr style="height:2px;border-width:0;color:gray;background-color:gray" > 
    
    <form class="col-md-06" novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">

        <div class="form-group center" style="background: #f3f3f3">
            <label class="col-md-4 control-label">Selecione o evento </label>
            <div class="col-md-6">
                <select class="form-select font" style="text-align:center" formControlName="idevento" aria-label="Floating label select example" id="idevento" >
                    <option value="" data-default disabled selected> Lista de eventos: </option>
                    <option value="0">Outro</option>
                    <option *ngFor="let item of itens" value="{{item.id}}">{{item.titulo}}</option>
                </select>
                <span class="text-danger" *ngIf="displayMessage.idevento">
                    <p [innerHTML]="displayMessage.idevento"></p>
                </span>
            </div><br>
        </div>
    
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    
    <h2> Cadastro </h2>
   
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
        <div class="form-horizontal col-md-06" style="background: #f3f3f3">
            
            <div class="form-group">
                <label class="col-md-2 control-label " for="nome">Nome Completo</label>
                <div class="col-md-6">
                    <input class="form-control font" id="nome" type="text" placeholder="" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                    <span class="text-danger" *ngIf="displayMessage.nome">
                        <p [innerHTML]="displayMessage.nome"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-6">
                    <input class="form-control font" id="cpf" type="text" placeholder="(Apenas números)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{'is-invalid': displayMessage.cpf }" />

                    <span class="text-danger" *ngIf="displayMessage.cpf">
                        <p [innerHTML]="displayMessage.cpf"></p>
                    </span>
                </div>
            </div> 

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-6">
                    <input class="form-control font" id="email" type="text" placeholder="(exemplo@exemplo.com.br)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

             <div class="form-group">
                <label class="col-md-4 control-label">Motivo da participação</label>
                <div class="col-md-6">
                    <select class="form-select font" style="text-align:center" formControlName="tipo" aria-label="Floating label select example" id="tipo">
                        <option value="" data-default disabled selected> Escolha uma das opções abaixo: </option>
                        <option value="1">Visita técnica</option>
                        <option value="2">Orientação</option>
                        <option value="3">Capacitação</option>
                        <option value="4">Coworking</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.tipo">
                        <p [innerHTML]="displayMessage.tipo"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Mês Aniversário</label> 
                <div class="col-md-2">
                        <select class="form-select" style="text-align:center" formControlName="nascimento" aria-label="Floating label select example" id="nascimento">
                            <option value="" data-default disabled selected> <b>-</b> </option>
                            <option value="1">01-Janeiro</option>
                            <option value="2">02-Fevereiro</option>
                            <option value="3">03-Março</option>
                            <option value="4">04-Abril</option>
                            <option value="5">05-Maio</option>
                            <option value="6">06-Junho</option>
                            <option value="7">07-Julho</option>
                            <option value="8">08-Agosto</option>
                            <option value="9">09-Setembro</option>
                            <option value="10">10-Outubro</option>
                            <option value="11">11-Novembro</option>
                            <option value="12">12-Dezembro</option>
                        </select>
                
                    <span class="text-danger" *ngIf="displayMessage.nascimento">
                        <p [innerHTML]="displayMessage.nascimento"></p>
                    </span>
                </div>
            </div> <br>

            <div class="form-group">
                <div class="col-md-5 col-md-offset-2" style="text-align:center" >
                    <span><button class="btn btn-success" id="Registrar" 
                        style="--bs-btn-padding-y: .70rem; --bs-btn-padding-x: 1.40rem; --bs-btn-font-size: 1.40rem;"
                        [disabled]="!cadastroForm.valid" type="submit">Salvar</button></span>
                    
                </div>
            </div>
        </div>
    </form>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</div>

