
<p-accordion  expandIcon = "pi" collapseIcon = "pi" (onOpen)="onTabOpen($event)">


<div *ngIf="!isMobile">

    <p-accordionTab [selected]="activeIndex==0 || loadAllTabs" [disabled]="activeIndex!=0">
      <ng-template pTemplate="header">
        <div *ngIf="activeIndex==0">
          <img src="./assets/imgs/tab1_active.png"/>
       </div>

        <div *ngIf="activeIndex>0">
         <img src="./assets/imgs/tab1_inactive.png"/>
       </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div>
          <div class="frameInput p-field">
            <div><label>Nome do evento</label></div>
            <input type="text" pInputText [style]="{'width':'100%','height': '40px'}" placeholder="Nome do evento" [(ngModel)]="nomeEvento"/>
          </div>
          <div class="frameInput p-field">
            <div><label>Número de participantes</label></div>
              <input type="text" pInputText 
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"

              placeholder="Nº de Participantes" [style]="{'width':'100%','height': '40px'}" [(ngModel)]="numeroParticipantes"/>
          </div>

          <div *ngIf="numeroParticipantes>50"><label style="color:red">Capacidade máxima para 50 inscritos.</label></div>
          <div *ngIf="numeroParticipantes==undefined || numeroParticipantes<50 ">Capacidade máxima para 50 inscritos.</div>
          
          <div class="frameButton">        
            <button pButton type="button" label="Confirmar" class="buttonConfirmar p-button-outlined" (click)="nextTab(1)" 
            [disabled]=" (  nomeEvento==undefined  || nomeEvento=='' || numeroParticipantes==undefined || numeroParticipantes == 0  || numeroParticipantes > 50  )" ></button>
          </div>
        </div>
        
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [selected]="activeIndex==1 || loadAllTabs" [disabled]="activeIndex!=1">
      <ng-template pTemplate="header">
          <div *ngIf="activeIndex==1">
            <img src="./assets/imgs/tab2_active.png"/>
          </div>
          <div *ngIf="activeIndex<1">
            <img src="./assets/imgs/tab2_inactive.png"/>
          </div>
          <div *ngIf="activeIndex>1">
            <img src="./assets/imgs/tab2_activeinactive.png"/>
          </div>
      </ng-template>
      <ng-template pTemplate="content">

        <div class="p-field">
          <div><label>Nome completo</label></div>
          <input type="text" pInputText 
          [style]="{'width':'100%','height': '40px'}" 
          placeholder="Escreva seu nome completo" [(ngModel)]="nomecompleto" 
          maxlength="50"
          />
        </div>

        <div class="p-field">
          <div><label>E-mail</label></div>
          <input type="email" pInputText 
          [style]="{'width':'100%','height': '40px'}" 
          pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" 
          placeholder="Escreva seu e-mail de contato" 
          [(ngModel)]="email"
          maxlength="100"
          >
          
        </div>

        <div class="p-field">
          <div><label>Institutição</label></div>
          <input type="text" pInputText 
          [style]="{'width':'100%','height': '40px'}"
          placeholder="Escreva o nome da sua instituição"
          [(ngModel)]="instituicao"
          />
        </div>

        <div class="p-field">
          <div><label>Contato</label></div>
          <p-inputMask  mask="(99)99999-9999"  
          [style]="{'width':'100%','height': '40px'}"
          placeholder="(xx)xxxxx-xxxx"
          [(ngModel)]="contato"
          ></p-inputMask>
        </div>

        <div class="frameButton">        
          <button pButton type="button" label="Etapa Anterior" class="buttonEtapaAnterior p-button-outlined" (click)="priorTab(1)"></button>
          <button pButton type="button" label="Confirmar" class="buttonConfirmar p-button-outlined" (click)="nextTab(2)"
          [disabled]="nomecompleto==undefined || email==undefined || instituicao==undefined || contato== undefined ||
          nomecompleto=='' || email=='' || instituicao=='' || contato== '' || email.indexOf('@')==-1" 
          ></button>
        </div>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [selected]="activeIndex==2 || loadAllTabs" [disabled]="activeIndex!=2">
      <ng-template pTemplate="header">
        <div *ngIf="activeIndex==2">
          <img src="./assets/imgs/tab3_active.png"/>
      </div>
      <div *ngIf="activeIndex<2">
        <img src="./assets/imgs/tab3_inactive.png"/>
      </div>
      <div *ngIf="activeIndex>2">
        <img src="./assets/imgs/tab3_activeinactive.png"/>
      </div>    
      </ng-template>
      <ng-template pTemplate="content">
        <div>
            <div><label>Tipo de evento</label></div>
            <p-dropdown [options]="tiposEnvento" [(ngModel)]="tipoEvento" optionLabel="name" placeholder="Escolha tipo de evento"
             ></p-dropdown>
        </div>
        <div>
          <div><label>Descrição do evento</label></div>
          <textarea [style]="{'width':'100%','height': '90px'}" placeholder="conte para nós sobre o seu evento" [(ngModel)]="descricao"></textarea>
        </div>
        <div>
          <div><label>Link para inscrições</label></div>
          <input type="text" pInputText [style]="{'width':'100%','height': '40px'}"
            placeholder="Insira link das inscrições" [(ngModel)]="linkinscricao"/>
        </div>
        <div>
          <b>Importante:</b>Verifique todos os dados antes de enviar.
        </div>
        <div class="frameButton">        
          <button pButton type="button" label="Etapa Anterior" class="buttonEtapaAnterior p-button-outlined" (click)="priorTab(2)"></button>
          <button pButton type="button" label="Enviar por e-mail" class="buttonConfirmar p-button-outlined" (click)="send()" 
          [disabled]="(mensagem!='' && mensagem!=undefined) || tipoEvento==undefined || linkinscricao==undefined ||
          descricao==undefined || tipoEvento=='' || linkinscricao=='' || descricao==''"
          ></button>
        </div>

      </ng-template> 
    </p-accordionTab>
  </div>

   <div *ngIf="isMobile">   
      <p-accordionTab [selected]="activeIndex==0 || loadAllTabs" [disabled]="activeIndex!=0">
         <ng-template pTemplate="header">
          <div *ngIf="activeIndex==0">
             <img src="./assets/imgs/tab1_active.png"/>
          </div>

           <div *ngIf="activeIndex>0">
            <img src="./assets/imgs/tab1_inactive.png"/>
          </div>

         </ng-template>
         <ng-template pTemplate="content">
              <div style="text-align:center">
                  <div > 
                    <app-calendario-edit (clickSelect)="selectDate($event)"></app-calendario-edit>
                  </div> 
                  <div >
                    <button pButton type="button" label="Avançar" class="buttonConfirmar p-button-outlined" (click)="nextTab(1)" ></button>
                  </div>                  
              </div> 
          </ng-template>
      </p-accordionTab>    
         

      <p-accordionTab [selected]="activeIndex==1 || loadAllTabs" [disabled]="activeIndex!=1">
        <ng-template pTemplate="header">
          <div *ngIf="activeIndex==1">
            <img src="./assets/imgs/tab2_active.png"/>
          </div>
          <div *ngIf="activeIndex<1">
            <img src="./assets/imgs/tab2_inactive.png"/>
          </div>
          <div *ngIf="activeIndex>1">
            <img src="./assets/imgs/tab2_activeinactive.png"/>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div>
            <div class="frameInput p-field">
              <div><label>Nome do evento</label></div>
              <input type="text" pInputText [style]="{'width':'100%','height': '40px'}" placeholder="Nome do evento" [(ngModel)]="nomeEvento"/>
            </div>
            <div class="frameInput p-field">
              <div><label>Número de participantes</label></div>
                <input type="text" pInputText 
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
  
                placeholder="Nº de Participantes" [style]="{'width':'100%','height': '40px'}" [(ngModel)]="numeroParticipantes"/>
            </div>
  
            <div *ngIf="numeroParticipantes>50"><label style="color:red">Capacidade máxima para 50 inscritos.</label></div>
            <div *ngIf="numeroParticipantes==undefined || numeroParticipantes<50 ">Capacidade máxima para 50 inscritos.</div>
            
            <div style="text-align:center">       
              <button pButton type="button" label="Retornar" class="buttonEtapaAnterior p-button-outlined" (click)="priorTab(1)"></button>
              <button pButton type="button" label="Avançar" class="buttonConfirmar p-button-outlined" (click)="nextTab(2)" 
              [disabled]=" (  nomeEvento==undefined  || nomeEvento=='' || numeroParticipantes==undefined || numeroParticipantes == 0  || numeroParticipantes > 50  )" ></button>
            </div>
          </div>          
        </ng-template>
      </p-accordionTab>
      <p-accordionTab [selected]="activeIndex==2 || loadAllTabs" [disabled]="activeIndex!=2">
        <ng-template pTemplate="header">
          <div *ngIf="activeIndex==2">
              <img src="./assets/imgs/tab3_active.png"/>
          </div>
          <div *ngIf="activeIndex<2">
            <img src="./assets/imgs/tab3_inactive.png"/>
          </div>
          <div *ngIf="activeIndex>2">
            <img src="./assets/imgs/tab3_activeinactive.png"/>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
  
          <div class="p-field">
            <div><label>Nome completo</label></div>
            <input type="text" pInputText 
            [style]="{'width':'100%','height': '40px'}" 
            placeholder="Escreva seu nome completo" [(ngModel)]="nomecompleto" />
          </div>
  
          <div class="p-field">
            <div><label>E-mail</label></div>
            <input type="email" pInputText 
            [style]="{'width':'100%','height': '40px'}" 
            pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" 
            placeholder="Escreva seu e-mail de contato" 
            [(ngModel)]="email">
            
          </div>
  
          <div class="p-field">
            <div><label>Institutição</label></div>
            <input type="text" pInputText 
            [style]="{'width':'100%','height': '40px'}"
            placeholder="Escreva o nome da sua instituição"
            [(ngModel)]="instituicao"
            />
          </div>
  
          <div class="p-field">
            <div><label>Contato</label></div>
            <p-inputMask  mask="(99)99999-9999"  
            [style]="{'width':'100%','height': '40px'}"
            placeholder="(xx)xxxxx-xxxx"
            [(ngModel)]="contato"
            ></p-inputMask>
          </div>
  
          <div style="text-align:center">        
            <button pButton type="button" label="Retornar" class="buttonEtapaAnterior p-button-outlined" (click)="priorTab(2)"></button>
            <button pButton type="button" label="Avançar" class="buttonConfirmar p-button-outlined" (click)="nextTab(3)"
            [disabled]="nomecompleto==undefined || email==undefined || instituicao==undefined || contato== undefined ||
            nomecompleto=='' || email=='' || instituicao=='' || contato== '' || email.indexOf('@')==-1" 
            ></button>
          </div>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab [selected]="activeIndex==3 || loadAllTabs" [disabled]="activeIndex!=3">
        <ng-template pTemplate="header">
          <div *ngIf="activeIndex==3">
              <img src="./assets/imgs/tab4_active.png"/>
          </div>
          <div *ngIf="activeIndex!=3">
              <img src="./assets/imgs/tab4_inactive.png"/>
          </div>    
        </ng-template>
        <ng-template pTemplate="content">
          <div>
              <div><label>Tipo de evento</label></div>
              <p-dropdown [options]="tiposEnvento" [(ngModel)]="tipoEvento" optionLabel="name" placeholder="Escolha tipo de evento"
              [style]="{'width':'100%','height': '40px'}"  ></p-dropdown>
          </div>
          <div>
            <div><label>Descrição do evento</label></div>
            <textarea [style]="{'width':'100%','height': '186px'}" placeholder="conte para nós sobre o seu evento" [(ngModel)]="descricao"></textarea>
          </div>
          <div>
            <div><label>Link para inscrições</label></div>
            <input type="text" pInputText [style]="{'width':'100%','height': '40px'}"
              placeholder="Insira link das inscrições" [(ngModel)]="linkinscricao"/>
          </div>
          <div>
            <b>Importante:</b>Verifique todos os dados antes de enviar.
          </div>
          <div style="text-align:center">        
            <button pButton type="button" label="Retornar" class="buttonEtapaAnterior p-button-outlined" (click)="priorTab(3)"></button>
            <button pButton type="button" label="Enviar" class="buttonConfirmar p-button-outlined" (click)="send()" 
            [disabled]="(mensagem!='' && mensagem!=undefined) || tipoEvento==undefined || linkinscricao==undefined ||
            descricao==undefined || tipoEvento=='' || linkinscricao=='' || descricao==''"
            ></button>
          </div>
  
        </ng-template> 
      </p-accordionTab>

   </div>


</p-accordion>

<div *ngIf="showDialogSucesso">
  <app-dialog [messageDialog]="messageDialogSucesso"  [visible]="showDialogSucesso" [typeDialog]="'Sucesso'"></app-dialog>
</div>

<div *ngIf="showDialogErro">
  <app-dialog  [messageDialog]="messageDialogErro"  [visible]="showDialogErro" [typeDialog]="'Erro'"></app-dialog>
</div>

<div *ngIf="showDialogAtencao">
  <app-dialog  [messageDialog]="messageDialogAtencao"  [visible]="showDialogAtencao" [typeDialog]="'Atenção'"></app-dialog>
</div>