<div class="bg-light" style="background: linear-gradient(99.15deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 96.57%), linear-gradient(99.06deg, rgba(237, 77, 154, 0.7) 0.9%, rgba(233, 207, 46, 0.7) 96.73%);">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6 color">
                <h1 class="display-4">O SebraeLab agradece sua participação </h1><br>
                <p class="lead mb-0 center" style="text-align:center "> <i>Central de Relacionamento: 0800 570 0800<br> Retornando a tela inicial, aguarde...</i></p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>