<div role="header" class="p-d-flex p-flex-row p-ai-center p-jc-center" style="background: black;">
    
    <div class="frameLogo">     OPA   
        <div class="frameFishLogo"><img src="./assets/imgs/fishLogo.png" alt="peixelogo"/></div>
        <div class="frameTitleLogo"><img src="./assets/imgs/logo.png" alt="logo"/></div> 
    </div>

    <div class="p-d-flex header-top p-ai-center" >      
      
        <div *ngIf="isMobile" style="text-align:right;width:100%">
          <button type="button" pButton icon="pi pi-list" (click)="menu.toggle($event)" style="background:#ED4D9A;border:0px;"></button>
          <p-menu  #menu [popup]="true"  [model]="itemsMenu"></p-menu>
        </div>

        <div class="menu-bar" *ngIf="!isMobile">
          <ul class="menu-list">
              <li class="menuItem"(click)="showHome()">Home</li>
              <li class="menuItem" (click)="showQuemSomos()">Quem Somos</li>
              <li class="menuItem dropdown">Conteúdo
                <img src="/assets/imgs/chevron-left.png"  alt="left"/>
                <div class="dropdown-content">
                  <a (click)="showNoticias()">Notícias</a>
                  <a (click)="showEBook()">EBook</a>
                  <a (click)="showEditais()">Editais</a>
                  <a (click)="showOutros()">Outros</a>
                </div>
              </li>
              <li class="menuItem" (click)="showEventos()">Eventos</li>
              <li class="menuItem" (click)="showContato()">Contato</li>
              <li class="menuItem" (click)="showMeuEvento()">
                <div class="frameRealize">Realize seu evento</div>
              </li>
           </ul>           
        </div>
    </div>
</div>
