
<app-header></app-header> 


<div class="frameMain">
    <div class="frameNovoEvento">
        <div class="voltarparaconteudo" style="cursor: pointer;">              
            <a href="javascript:history.back()">
                <img src="../../../../../assets/imgs/chevron-return.png" >voltar para a agenda 
            </a>
        </div>
        <div class="frameTituloNovoEvento">
            EDITAR EVENTO
        </div>
        <div class="linha"></div>
    </div>

    <div class="frameImagemCapa">
        <div class="frameTituloTopico">
            Imagem de capa
        </div>        
        <div>
            <p-inputSwitch [(ngModel)]="evento.imagempersonalida"></p-inputSwitch>  
            IMAGEM: {{evento.imagempersonalida}} Imagem personalizada desativada (será utilizada uma imagem padrão como capa do evento).
        </div>
        
        <div *ngIf="evento.imagempersonalida" style="align-items:center;">
                <label>Imagem de Capa</label>
                <label>Tamanho 600px de largura e 315px de altura</label>               
                <img [src]="picture" style="width:'900px';height:'237px'"/>
                <app-photo-upload (onUpload)="download()" [fileUrl]="picture" [imageName]="evento.id"></app-photo-upload>
        </div>
       
    </div>

    <div class="frameSobreEvento">
       
        <div class="frameTituloTopico">
            Sobre o evento
        </div>

        <div class="frameEventoDetails p-grid p-fluid">                 
            <div class="frameTituloEvento p-col-12">
                <div class="p-col-10">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText  [(ngModel)]="evento.titulo"> 
                        <label for="float-input">Título do evento</label>
                    </span>
                </div>
                <div class="p-col-2">
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="evento.numeroparticipantes"></p-inputNumber>
                        <label for="float-input">Nº de participantes</label>
                    </span>                    
                </div>                
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText  [(ngModel)]="evento.subtitulo"> 
                    <label for="float-input">Subtítulo do evento</label>
                </span>
            </div> 

            <div *ngFor="let dia of evento.dias">
                <div class="frameEventoDias p-col-12">
                    <div class="p-col-3">
                       <p-calendar dateFormat="dd-mm-yy" 
                                showIcon="true" 
                                placeholder="Dia do evento" 
                                [disabledDates]="diasBloqueados"
                                [readonlyInput]="true"
                                [(ngModel)]="dia.data"></p-calendar>
                    </div>
                    <div class="p-col-5">    
                        <p-checkbox name="manha" value="Manhã" label="Manhã" [(ngModel)]="dia.option"></p-checkbox>&nbsp;
                        <p-checkbox name="tarde" value="Tarde" label="Tarde" [(ngModel)]="dia.option"></p-checkbox>&nbsp;
                        <p-checkbox name="noite" value="Noite" label="Noite" [(ngModel)]="dia.option"></p-checkbox>&nbsp;
                        <p-checkbox name="diainteiro" value="Dia inteiro" label="Dia Inteiro" [(ngModel)]="dia.option"></p-checkbox>
                    </div>
                    <div class="p-col-2"> 
                        <span style="width: '70px'">
                            <label >Hora Início</label>
                            <p-inputMask   mask="99:99" name="horainicio" [(ngModel)]="dia.horainicio"></p-inputMask>                          
                        </span>
                    </div>
                    <div class="p-col-2"> 
                        <span  style="width: '70px'">
                            <label >Hora Fim</label>
                            <p-inputMask   mask="99:99" name="horafim" [(ngModel)]="dia.horafim"></p-inputMask>                            
                        </span>
                    </div>
                </div>
            </div>

            <button pButton pRipple label="Adicionar dia" icon="pi pi-plus" class="p-button-text mr-2" (click)="addDia()"></button>
            <button pButton pRipple label="Remover dia" icon="pi pi-minus" class="p-button-text mr-2" (click)="removeDia()"></button>

           <div class="frameTipoEvento p-col-12">
                 <div class="p-col-6">
                    <span class="p-float-label">
                       <!-- <p-multiSelect optionLabel="name"  [options]="tiposEnvento" 
                        [(ngModel)]="evento.tipoevento" 
                        [style]="{'width':'100%'}"></p-multiSelect>-->
                        <p-dropdown optionLabel="name"  [options]="tiposEvento" 
                        [(ngModel)]="tipoEvento" optionLabel="name"
                        [style]="{'width':'100%'}"></p-dropdown>
                        <label for="float-input">Tipo de evento</label>
                    </span> 
                 </div>    
                 <div class="p-col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText style="width: '90%'"  [(ngModel)]="evento.linksparainscricao" />
                        <label for="float-input">Link para inscrições</label>
                    </span>                      
                 </div>                 
            </div>

            <div class="frameEventoDescricao p-col-12">                
                <p-editor [style]="{'height':'500px', 'width':'900px'}" [(ngModel)]="evento.descricaoevento">
                </p-editor>                
           </div>            
        </div>
        
        <div class="frameSobreOrganizador p-grid">
            <div class="frameTituloTopico p-col-12">
               Sobre o organizador
            </div>
           
            <div class="p-field p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText style="width: 100%;" [(ngModel)]="evento.nomecompleto"/>
                    <label for="float-input">Nome completo</label>
                </span>  
            </div>
            <div class="p-field p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText style="width: 100%;" [(ngModel)]="evento.email"/>
                    <label for="float-input">E-mail</label>
                </span>  
            </div>                 
            <div class="p-field p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText style="width: 100%;" [(ngModel)]="evento.instituicao"/>
                    <label for="float-input">Instituição</label>
                </span>  
            </div>                 
            <div class="p-field p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText style="width: 100%;" [(ngModel)]="evento.contato"/>
                    <label for="float-input">Contato</label>
                </span>  
            </div>

            <div class="p-col-12">
                <p-inputSwitch [(ngModel)]="evento.publicaosite"></p-inputSwitch>Publicação no site ativada (o evento será público e visível para todos que acessarem o site)  
            </div>
           
       </div> 

        <div class="p-col-12" style="text-align: right;" *ngIf="evento.status=='Rascunho'">
            <button pButton class="p-button-lg p-button-raised p-button-outlined p-mr-10" (click)="save(evento.id)">Salvar</button>&nbsp;&nbsp;
            <button pButton class="p-button-lg p-button-raised p-button-warning p-mr-10" (click)="showPreview(evento.id)">{{evento.publicaosite?'Visualizar e publicar':'Visualizar'}} </button>
        </div>
 
        <div class="p-col-12" style="text-align: right;" *ngIf="evento.status=='Publicado'">
            <button pButton class="p-button-lg p-button-raised p-button-outlined p-mr-10" (click)="save(evento.id)">Atualizar</button>&nbsp;&nbsp;
            <button pButton class="p-button-lg p-button-raised p-button-warning p-mr-10" (click)="showPublished(evento)">Visualizar</button>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>


  












