.frameMain{
    /* Novo evento */

/* Auto layout */
display: flex;
flex-direction: column;
//align-items: flex-start;
//padding: 24px 32px;
//gap: 60px;

position: absolute;
width: 80%;
//height: 1692px;
left: 10px;
top: 149px;

background: #FFFFFF;
border-radius: 10px;
}

.frameNovoEvento{
    /* Frame 5911 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 100%;
//height: 101px;


/* Inside auto layout */
flex: none;
///order: 0;
align-self: stretch;
flex-grow: 0;
}

.frameTituloNovoEvento{
    /* Novo evento */

width: 255px;
//height: 50px;

/* Heading / H2 */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 50px;

/* identical to box height, or 125% */
display: flex;
align-items: center;

/* Cores da Marca/Tipografia/Preto */
color: #263746;


/* Inside auto layout */
flex: none;
//order: 1;
flex-grow: 0;
}

.linha{width: 100%;
    height: 3px;
    
    /* Cores da Marca/Cores principais/Rosa */
    background: #ED4D9A;
    opacity: 0.5;
    
    /* Inside auto layout */
    flex: none;
    //order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.frameImagemCapa{/* Frame 5948 */

    /* Auto layout */
    //display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    
    width: 100%;
    //height: 98px;
    
    
    /* Inside auto layout */
    flex: none;
    //order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.frameSobreEvento{
    /* Criar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 48px;

width: 100%;
//height: 1325px;


/* Inside auto layout */
flex: none;
//order: 2;
align-self: stretch;
flex-grow: 0;
}

.frameTituloTopico{/* Sobre o evento */

    //width: 912px;
    //height: 42px;
    
    /* Heading/H3 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    
    /* identical to box height, or 131% */
    
    /* Cores da Marca/Tipografia/Preto */
    color: #263746;
    
    
    /* Inside auto layout */
    flex: none;
    //order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frameTituloEvento{
    /* Frame 5876 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 100%;
//height: 76px;


/* Inside auto layout */
flex: none;
//order: 0;
align-self: stretch;
flex-grow: 0;
}

.frameEventoDetails{
    /* Frame 5885 */
//border: 1px solid;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 100%;
//height: 613px;

/* Inside auto layout */
flex: none;
//order: 1;
align-self: stretch;
flex-grow: 0;
}



.frameEventoDias{
    /* Frame 5885 */
//border: 1px solid;
/* Auto layout */
display: flex;
flex-direction: row;
//align-items: flex-start;
//padding: 16px 0px;
//gap: 8px;

width: 100%;
//height: 104px;


/* Inside auto layout */
flex: none;
//order: 1;
//align-self: stretch;
flex-grow: 0;
}

.frameCalendar{/* Frame 5882 */
    border: 1px solid;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 8px;
    
    width: 284px;
    //height: 40px;
    
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    //order: 0;
    flex-grow: 0;
}

.frameOptionsPeriodo{
    /* Frame 5863 */
    border: 1px solid;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 305px;
//height: 20px;


/* Inside auto layout */
flex: none;
//order: 1;
flex-grow: 0;
}

.frameTipoEvento{
    /* Frame 5875 */

/* Auto layout */
display: flex;
//flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 100%;
//height: 76px;


/* Inside auto layout */
flex: none;
//order: 2;
align-self: stretch;
flex-grow: 0;
}

.frameEventoDescricao{
    /* Campo de texto vazio */

/* Auto layout */
//display: flex;
//flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 100%;
//height: 309px;


/* Inside auto layout */
flex: none;
//order: 3;
align-self: stretch;
flex-grow: 0;
}

.frameSobreOrganizador{
/* Frame 5887 */

/* Auto layout */
display: flex;
//flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 100%;
//height: 426px;


/* Inside auto layout */
flex: none;
//order: 0;
align-self: stretch;
flex-grow: 0;
}

.frameSobreOrganizadorDetails{
/* Frame 5886 */

/* Auto layout */
//display: flex;
//@at-root: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

//width: 912px;
//height: 352px;


/* Inside auto layout */
flex: none;
//order: 1;
align-self: stretch;
flex-grow: 0;
}