<div>
   <button pButton type="button"  label="Criar novo evento" class="buttonNovoEvento p-button-outlined" (click)="ShowNovoEvento()"></button>
   <p></p>
   <label style="background:#A1D8B6">Palestra</label>&nbsp;
   <label style="background:#D2C48E; color: black">Workshop</label>&nbsp;
   <label style="background:#F45F40; color: black">Curso</label>&nbsp;
   <label style="background:#F9AE8D; color: black">Evento Fechado</label>&nbsp;
   <label style="background:#80B9CE; color: black">Outros</label>
   <p></p>

   <full-calendar  [options]="options"></full-calendar>    
</div>

<p-dialog 
    position="center"
    header="Selecione no calendario os dias que deseja bloquear a agenda." 
    blockScroll="false"
    [breakpoints]="{ '815px': '89%' }" 
    [style]="{ width: '50%' }"
    [(visible)]="DialogEventDateShowing" 
    [modal]="false" 
    styleClass="p-fluid">
    <div class="p-grid">
        <div class="p-col-12" style="align-items:center">
            <span class="p-float-label">
                <textarea pInputTextarea [rows]="2" [cols]="141" pInputTextarea  [(ngModel)]="motivoBloqueio" ></textarea>
                <label for="float-input">Justificativa/Motivo</label>
            </span>  
        </div> 

        <div class="p-col-12">
            <p-calendar dateFormat="dd-mm-yy" 
            selectionMode="multiple"
            showIcon="true" placeholder="Dia do evento" 
            [inline]="true" 
            [(ngModel)]="diasBloqueados"   
            format="yy-mm-dd">

           <!--<ng-template pTemplate="date" let-date>
                <td [ngStyle]="{ color:'black'" >{{date.day}}</td>
            </ng-template>-->

            </p-calendar>
        </div>   
        
 
    </div>

    <div style="align-items:center">
        <button pButton type="button"  label="Aplicar" class="buttonApply p-button-outlined" (click)="applicarBloqueio()"></button>
    </div>

</p-dialog> 

<div>
    <button pButton type="button" class="p-button-outlined" (click)="showDialogEventDate()"   >Bloquear</button>  
</div>


    
