.buttonNovoEvento{
    //border: 1px solid;
    box-sizing: border-box;  
    align-items: center;
    height: 36px;
    background: #FFF028; 
    color:black; 
    border: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }

  .buttonApply{
    border: 1px solid;
    box-sizing: border-box;  
    align-items: center;
    height: 36px;
    background: #FFF028; 
    color:black; 
    border: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }