<div>
   <button pButton type="button"  label="Criar novo evento" class="buttonNovoEvento p-button-outlined" (click)="ShowNovoEvento()"></button>
   <p></p>
   <label style="background:yellow">Palestra</label>&nbsp;
   <label style="background:green; color: white">Workshop</label>&nbsp;
   <label style="background:blue; color: white">Curso</label>&nbsp;
   <label style="background:red; color: white">Evento Fechado</label>&nbsp;
   <label style="background:brown; color: white">Outros</label>
   <p></p>

   <full-calendar  [options]="options"></full-calendar>    
</div>

<p-dialog 
    position="center"
    header="Selecione no calendario os dias que deseja bloquear a agenda." 
    blockScroll="false"
    [breakpoints]="{ '715px': '89%' }" 
    [style]="{ width: '30%' }"
    [(visible)]="DialogEventDateShowing" 
    [modal]="false" 
    styleClass="p-fluid">

    <p-calendar dateFormat="dd-mm-yy" 
                selectionMode="multiple"
                showIcon="true" placeholder="Dia do evento" [inline]="true" 
                [(ngModel)]="diasBloqueados"   
                format="yy-mm-dd">
    </p-calendar>
    
    <div style="align-items:center">
        <button pButton type="button"  label="Aplicar" class="buttonApply p-button-outlined" (click)="applicarBloqueio()"></button>
    </div>

</p-dialog> 

<div>
    <button pButton type="button" class="p-button-outlined" (click)="showDialogEventDate()"   >Bloquear</button>  
</div>


    
