
<app-header></app-header> 
<app-banners-show fileName="assets/banners/BannerAgenda.jpg"></app-banners-show>
<!--<button pButton type="button"  label="Criar novo evento" class="buttonNovoEvento p-button-outlined" (click)="OpenNovoEvento()"></button>-->
<div>
    <div class="frameProximoEvento">    
        <app-proximos-eventos-show></app-proximos-eventos-show>    
    </div>

    <div class="frameFULLAgenda p-d-flex p-ai-flex p-jc-center">
        <div class="p-d-flex p-ai-center p-jc-center">
            <div class="p-d-fluid " style="width:'900px';">
                <app-fullcalendario-show></app-fullcalendario-show>            
            </div>       
        </div>  
    </div>
</div>

  












