.frameMain{ 
    border:1px solid;
    position: absolute;
    width: 100%;
    height: 100%;
}


.framePrevisualizacao{
    /* Frame 5933 */
    /* Auto layout */
    //border:1px solid;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 149px; 
}



.frameConteudoPrevisualizacao{
    //border:1px solid;
    border-color: blue;
    /* Frame 5932 */
    /* Auto layout */
    //display: flex;
    //lex-direction: column;
    //align-items: flex-start;
    padding: 19px 52px;
    gap: 10px;
    width: 100%;
    //height: 103px;
    /* Cores da Marca/Variações da Marca/Laranja/2 */
    background: #EB893F;
    border-radius: 10px;
}

.frameConteudo2Previsualizacao{
    //border:1px solid;
    border-color: green;
    /* Frame 5931 */
    /* Auto layout */
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
    //align-items: center;
    //padding: 0px;
    //gap: 60px;
    width: 100%;
    height: 65px;
}

.frameConteudoTextoPrevisualizacao{
    //border:1px solid;
    /* Frame 5925 */
    /* Auto layout */
    //display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 100%;
    height: 65px;
}

.frameConteudoTituloPrevisualizacao{
    //border:1px solid;

    width: 204px;
    height: 24px;
    
    /* Heading/H4 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    
    /* identical to box height, or 142% */
    //display: flex;
    align-items: center;
    
    /* Tailwind/white */
    color: #FFFFFF;
    }

.frameConteudoDescricaoPrevisualizacao{
   // border:1px solid;

    width: 100%;
    

    /* Body / Normal */
    //font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    /* Tailwind/white */
    color: #FFFFFF;
}



.frameBotaoPublicar{
   // border:1px solid;
    //display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;

    width: 190px;
    height: 44px;
}

.buttonPublicar{
    border:1px solid;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border:0px;
    background:#E9CF2E;

    color: #263746;;
}

.frameBanner{
    //border:1px solid;
    /* Banner */
    ////border:1px solid;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 300px;

    mix-blend-mode: normal;
}

.frameBannerEvento{
    //border:1px solid;
    /* Frame 5634 */
    /* Auto layout */
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 48px;
    position: absolute;
    width: 351px;
    height: 280px;
    left: 50%;
    top: 260px;
    background: #FFFFFF;
    border-radius: 10px;
}


.frameBannerEvento2{
    //border:1px solid;
    /* Frame 5634 */
    /* Auto layout */
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 48px;
    //position: absolute;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}


.frameBannerDetailsConteudo{
    //border:1px solid;
    /* Frame 5629 */
    /* Auto layout */
    //display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 303px;
    height: 107px;
}

.frameBannerDatas{
    //border:1px solid;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;    
    /* identical to box height */    
    /* Cores da Marca/Tipografia/Preto */
    color: #263746;
}

.frameBannerDetailsConteudoHoras{
    //border:1px solid;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #626060;
}

.frameBannerDetailsConteudoTitulo{
    //border:1px solid;

    /* Creative Workshop */ 
   // font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    /* Tailwind/slate/900 */
    color: #0F172A;
}

.frameBannerDetailsConteudoDescricao{
    //border:1px solid;
 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* Tailwind/slate/600 */
    color: #475569;
}

.frameBannerGratuito{
    //border:1px solid;
    /* Frame 5710 */
    /* Auto layout */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 303px;
    height: 36px;

    //font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */

    /* Tailwind/slate/700 */
    color: #334155;

}

.frameColuna1{
    //border:1px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 72px;

    width: 528px;
    height: 740px;
}

.frameColuna1Descricao{
    //border:1px solid;
    /* Auto layout */
    //display: flex;
    flex-direction: column;
    //align-items: flex-start;
    padding: 0px;
    //gap: 16px;

    width: 100%;
    //height: 100%;
}

.frameOrganizador{
    //border:1px solid;
    /* Frame 5724 */

    /* Auto layout */
    //display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    //gap: 24px;
    position: absolute;
    //width: 40%;
    //height: 300px;
}


.breakLineText{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}