<app-header></app-header> 
       
<div [ngClass]="isMobile? 'framePrevisualizacaoMobile':'framePrevisualizacao'">

  
        <div class="voltarparaconteudo" style="cursor: pointer;">              
            <a href="javascript:history.back()">
                <img src="assets/imgs/chevron-return.png" >voltar para edição 
            </a>
        </div>

        <div class="frameBanner" *ngIf="isDesktop">
            <img [src]="picture" width="100%" height="100%"/>
            <div class="frameBannerEvento" [ngStyle]="{'left': isDesktop ? '60%':'35%'}">            
                <div class="frameBannerDetails p-grid">
                    <div class="p-grid">                    
                        <div ><h2>{{evento.datainicial}}</h2></div>                 
                        <div *ngIf="(evento.datainicial != evento.datafinal)">
                            <h2> > {{evento.datafinal}}</h2>
                        </div>         
                        <div>
                            <h2 style="color: #ED4D9A;">&nbsp;&nbsp;&nbsp;{{getMonthDescription(evento.data)}}</h2>
                        </div>                    
                    </div>
                    
                    <!--<div class="frameBannerDetailsConteudoHoras p-col-12">{{evento.horainicial}} - {{evento.horafinal}} </div>-->
                    <div class="frameBannerDetailsConteudoTitulo p-col-12">{{evento.titulo}}</div>
                    <div class="frameBannerDetailsConteudoDescricao p-col-12">{{evento.subtitulo}}</div>
                    <p></p>
                    <div class="p-col-6">
                        <h2>GRATUIDO:</h2>
                    </div>
                    <div class="p-col-6">
                        <a href="{{evento.linksparainscricao}}" target="_blank">
                            <button pButton type="button" 
                            label="Inscreva-se " 
                            class="p-button-outlined" 
                            style="background:#FFF028;color:#626060;border:0px;width: 100px;height: 44px;">
                            </button>
                        </a>
                        <outlet></outlet>
                    </div>
                </div>
            </div>     
        </div>


        <div class="p-grid" *ngIf="isDesktop">
            
            <div class="p-col-7" >            
                <div class="frameColuna1Descricao breakLineText" [innerHTML]="evento.descricaoevento">
                </div>             
                <div class="frameOrganizador" >
                    <h2>Sobre o organizador</h2>
                    <h3>{{evento.nomecompleto}}</h3>
                    <button pButton type="button"  label="Entre em contato" class="p-button-outlined"></button>
                </div>
            </div>
        
            <div class="p-col-5" >
                Localizacao
                <div> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.1460644727042!2d-40.299348074082765!3d-20.31710753356827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83dba8fb6fbf9%3A0x2401255a85fb5a11!2sSebrae!5e0!3m2!1spt-BR!2sbr!4v1661954760069!5m2!1spt-BR!2sbr" width="416px" height="272px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div>
                    <h2>Data e horário</h2>
                    <div>
                        Domingo, 04 de Junho de 2022 das 14:00 até 18:00 (Horário de Brasília)
                    </div>
                </div>
                <div>
                    <h2>Compartilhe</h2>
                    <div class="p-grid">
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareFacebook()"><img src="assets/imgs/icon-facebook.png"></div>    
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareTwitter(evento.titulo)"><img src="assets/imgs/icon-twitter.png"></div>   
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareWhats(evento.titulo)"><img src="assets/imgs/icon-zap.png"></div>  
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareTelegram(evento.titulo)"><img src="assets/imgs/icon-telegram.png"></div>  
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareLinkIn()"><img src="assets/imgs/icon-linkIn.png"></div> 
                    </div>
                </div>
            </div>   
        </div>

        <div class="frameBanner" *ngIf="!isDesktop">
            <img [src]="picture" width="100%" height="100%"/>            
        </div>

        <div class="frameBannerEvento2" *ngIf="!isDesktop">            
        
                <div class="p-grid" style="gap:10px">                    
                    <div ><h2>{{evento.datainicial}}</h2></div>                 
                    <div *ngIf="(evento.datainicial != evento.datafinal)">
                        <h2> > {{evento.datafinal}}</h2>
                    </div>  
                    <div><h2>{{evento.horainicial}} - {{evento.horafinal}}</h2></div>        
                    <div>
                        <h2 style="color: #ED4D9A;">&nbsp;&nbsp;&nbsp;{{getMonthDescription(evento.data)}}</h2>
                    </div>     
                    <div class="frameBannerDetailsConteudoTitulo p-col-12">{{evento.titulo}}</div>
                    <div class="frameBannerDetailsConteudoDescricao p-col-12">{{evento.subtitulo}}</div>                
                </div>       

                <p></p>
                <div class="p-col-6">
                    <h2>GRATUIDO:</h2> 
                    <button pButton type="button"  label="Inscreva-se" class="p-button-outlined"></button>
                </div>

        </div> 


        <div class="p-grid" *ngIf="!isDesktop">
            <div class="p-field p-col-12">
                <div class="p-field  frameColuna1Descricao breakLineText" [innerHTML]="evento.descricaoevento" >
                </div>
                

                <div class="p-col-12 ">                
                    <div class="p-col-12" ><h2>Sobre o organizador</h2></div>
                    <div class="p-col-12" ><h3>{{evento.nomecompleto}}</h3></div>
                    <button pButton type="button"  label="Entre em contato" class="p-button-outlined"></button>
                </div>

                <div class="p-field p-col-12">
                    <h4>Localização</h4>
                </div>

                <div class="p-field p-col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.1460644727042!2d-40.299348074082765!3d-20.31710753356827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83dba8fb6fbf9%3A0x2401255a85fb5a11!2sSebrae!5e0!3m2!1spt-BR!2sbr!4v1661954760069!5m2!1spt-BR!2sbr" width="100% " height="100%" style="border:1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="p-field p-col-12">
                    <h2>Data e horário</h2>
                    <div>
                        Domingo, 04 de Junho de 2022 das 14:00 até 18:00 (Horário de Brasília)
                    </div>
                </div>
                <div class="p-field p-col-12">
                    <h2>Compartilhe</h2>
                    <div class="p-grid">
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareFacebook()"><img src="assets/imgs/icon-facebook.png"></div>    
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareTwitter(evento.titulo)"><img src="assets/imgs/icon-twitter.png"></div>   
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareWhats(evento.titulo)"><img src="assets/imgs/icon-zap.png"></div>  
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareTelegram(evento.titulo)"><img src="assets/imgs/icon-telegram.png"></div>  
                        <div class="p-col-2" style="cursor: pointer;" (click)="shareLinkIn()"><img src="assets/imgs/icon-linkIn.png"></div> 
                    </div>
                </div>
            </div>    
        </div>
</div>






<p-confirmDialog #cd  [breakpoints]="{'560px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
        <button type="button" class="p-button-danger" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
















