<div class="frameMain">
    
    <div class="frameContact">
        <div class="frameContactDescription" *ngIf="!isMobile">
            <div class="frameTitle">
                CONTATO
            </div>
            <div class="frameText">
                Ficou com dúvida? Converse com a gente!
                Preencha o formulário ao lado ou entre em contato em um dos nossos canais: XXXXXXXX
                
                Acesse também o site do Sebrae: www.sebrae.com.br
            </div>
        </div>
        <div class="frameSendMessage" [ngStyle]="{'width':isMobile ?'100%':'50%'}">
            <div class="frameSendMessageTitle">
                Fale conosco
            </div>
            <div class="frameFormSendeMessage fluid">
                <div class="frameInputs">
                    <div class="frameInput">
                        <div class="titleInput">Nome</div>
                        <input type="text" pInputText [style]="{'width':'100%','height': '48px'}" [(ngModel)]="nome" />
                    </div>
                    <div class="frameInput">
                        <div class="titleInput">E-mail</div>
                        <input type="text" pInputText [style]="{'width':'100%','height': '48px'}" [(ngModel)]="email" />
                    </div>
                    <div class="frameInputTextArea">
                        <div class="titleInput">Mensagem</div>
                        <textarea [style]="{'width':'100%','height': '186px'}" [(ngModel)]="body">
                        </textarea>
                    </div>
                </div>
              
                <button pButton type="button" label="Enviar Messagem" 
                class="buttonConfirmar p-button-outlined" (click)="sendEmail()" 
                [disabled]="nome=='' || email=='' || body=='' || mensagem!='' ">
                </button>
                <div class="titleInput">{{mensagem}}</div>   
             
            </div>
        </div>        
    </div>
    <app-footer></app-footer>
</div>



