.frameMain{

position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 63px;

background: linear-gradient(99.15deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 96.57%), linear-gradient(99.06deg, rgba(237, 77, 154, 0.7) 0.9%, rgba(233, 207, 46, 0.7) 96.73%);

}

.frame-container{
  
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 64px;
gap: 56px;

position: absolute;
width: 362px;
height: 507px;
left: 439px;
top: 25px;

/* Tailwind/slate/50 */
background: #F8FAFC;
border-radius: 16px;
}


.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  h1 {
    font-family: 'Roboto Slab',serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.frameLogo{width: 100%;
  height: 100%;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;}

.frameTitleLogo{//position: absolute;
  left: 4.44%;
  right: 85.97%;
  top: 56.68%;
  bottom: 18.82%;
  
  }

.frameFishLogo{//position: absolute;
  width: 45.75px;
  height: 30.29px;
  left: 256.25px;
  top: 16px;}

  .frameEntreSuaConta{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;

    /* identical to box height, or 125% */

    /* Cores da Marca/Tipografia/Preto */
    color: #263746;
  }