<div class="frameLogo" style="background: #ED4D9A;">        
    <div class="frameFishLogo"><img src="assets/imgs/fishLogo.png"/></div>
    <div class="frameTitleLogo"><img src="assets/imgs/logo.png"/></div> 
</div>
<div class="frameMain p-d-flex p-ai-center p-jc-center" >
  <div header="Entre em sua conta!" subheader="" class="frame-container">
    <div class="p-d-flex p-ai-center p-jc-center" style="background: #F8FAFC;">
      <div class="p-d-fluid p-d-grid p-formgrid" style="top: 25px;" >
        <div class="frameEntreSuaConta"><h2>Entre em sua conta</h2></div>
        <div class="p-field p-col-12">
          <div class="p-float-label">
              <input pInputText class="input p-inputtext-lg" type="text" name="userName" [(ngModel)]="login.userName"/>
              <label>Login (E-mail)</label>
          </div>
        </div>
        <br>
        <div class="p-field p-col-12 ">
            <div class="p-float-label">
                <input pInputText class="input p-inputtext-lg" type="password" name="secret" [(ngModel)]="login.secret"  />
                <label>Senha</label>
            </div>
        </div>
        <div class="p-field p-col-12 " style="color: red">
          {{this.mensagem}} 
        </div> 

        <div class="p-field p-col-12" style="text-align: center;">
            <button pButton [loading]="isLoading" class="p-button-lg p-button-raised p-button-outlined p-mr-10"  (click)="logIn();" 
            style="background: #FFF028;color: #263746;">Entrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>