


    <div class="frameButtonsTop" *ngIf="!isMobile" >
        <div class="frameButton"><div class="frameMolduraButtonPink">Entenda o Sebraelab </div></div> 
        <div class="frameButton"><div class="frameMolduraButtonYellow">Na prática LAB </div> </div>
        <div class="frameButton"><div class="frameMolduraButtonGreen">Nosso Espaço</div></div> 
    </div>

    <div class="p-grid" *ngIf="isMobile">
        <div class=" p-col-12"><div class="frameMolduraButtonPink">Entenda o Sebraelab </div></div> 
        <div class=" p-col-12"><div class="frameMolduraButtonYellow">Na prática LAB </div> </div>
        <div class=" p-col-12"><div class="frameMolduraButtonGreen">Nosso Espaço</div></div> 
    </div>

    <div class="frameEntenda">
        <!--<div class="frameTitleEntenda" [ngStyle]="{'font-size': !isMobile? '56px':'40px', 'line-height': !isMobile? '66px':'50px', 'top': !isMobile? '743px':'0px'}">
            ENTENDA O SEBRAELAB
        </div>-->
        <div class="frameOqueEh" *ngIf="!isMobile">
            <div class="frameTitleOqueEh">O que é </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="assets/imgs/oqueeh.png"/>Um espaço de aprendizado contínuo que estimula a criatividade, a inovação e as múltiplas conexões nos negócios.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="assets/imgs/oqueeh.png"/>Um ambiente multifuncional e colaborativo, pensado para o ecossistema de inovação capixaba. Um lugar flexível para viver, conviver e se apropriar.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="assets/imgs/oqueeh.png"/>Um espaço para a troca de conhecimento e de experiências, que conecta pessoas e ideias.</div>
            </div>
        </div>
        <div class="frameOqueNaoEh" *ngIf="!isMobile">            
            <div class="frameTitleOqueNaoEh">O que nao é</div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="assets/imgs/oquenaoeh.png"/>Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="assets/imgs/oquenaoeh.png"/>Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="assets/imgs/oquenaoeh.png"/>Um espaço passivo. Um lugar para as pessoas se refugiarem e se fecharem em suas próprias ideias.</div>
            </div>
        </div>


        <div *ngIf="isMobile" style="text-align: left">
            <div class="frameTitleOqueEh">O que é </div>
            <div class="frameOqueEhTextoMobile" >
                <img src="assets/imgs/oqueeh.png"/>Um espaço de aprendizado contínuo que estimula a criatividade, a inovação e as múltiplas conexões nos negócios.
            </div>
            <div class="frameOqueEhTextoMobile">
                <img src="assets/imgs/oqueeh.png"/>Um ambiente multifuncional e colaborativo, pensado para o ecossistema de inovação capixaba. Um lugar flexível para viver, conviver e se apropriar.
            </div>
            <div class="frameOqueEhTextoMobile">
                <img src="assets/imgs/oqueeh.png"/>Um espaço para a troca de conhecimento e de experiências, que conecta pessoas e ideias.
            </div>

            <div class="frameTitleOqueNaoEh">O que nao é</div>
            <div class="frameOqueEhTextoMobile">
                <img src="assets/imgs/oquenaoeh.png"/>Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.
            </div>
            <div class="frameOqueEhTextoMobile">
                <img src="assets/imgs/oquenaoeh.png"/>Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.
            </div>
            <div class="frameOqueEhTextoMobile">
                <img src="assets/imgs/oquenaoeh.png"/>Um espaço passivo. Um lugar para as pessoas se refugiarem e se fecharem em suas próprias ideias.
            </div>

        </div>

    
        <div class="frameImageEstrutura" [ngStyle]="{'top': !isMobile?'600px':'null'}">
            <img src="./assets/imgs/estrutura.jpg" width="100%" *ngIf="!isMobile"/>
            <img src="./assets/imgs/Estrutura_mobile.png" width="100%" *ngIf="isMobile"/>            
        </div>       
 

    </div>

  <div [ngClass]="!isMobile ? 'frameEcosistema':'frameEcosistemaMobile'">
        <app-ecosistema-show topFrameMain="!isMobile?1180px:3600px" 
        topframeTitle="!isMobile?1180px:950px" 
        topframeText="!isMobile?1180px:1000px" 

        [isMobile]="isMobile">       
        </app-ecosistema-show>
  </div>

<br>

