

<div class="frame" >
    <div class="frameButtonsTop">
        <div class="frameButton"><div class="frameMolduraButtonPink">Entenda o Sebraelab </div></div> 
        <div class="frameButton"><div class="frameMolduraButtonYellow">Na prática LAB </div> </div>
        <div class="frameButton"><div class="frameMolduraButtonGreen">Nosso Espaço</div></div> 
    </div>

    <div class="frameEntenda">
         <div class="frameTitleEntenda">
            ENTENDA O SEBRAELAB
        </div>
        <div class="frameOqueEh">
            <div class="frameTitleOqueEh">O que é </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="../../../../assets/imgs/oqueeh.png"/>Um espaço de aprendizado contínuo que estimula a criatividade, a inovação e as múltiplas conexões nos negócios.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="../../../../assets/imgs/oqueeh.png"/>Um ambiente multifuncional e colaborativo, pensado para o ecossistema de inovação capixaba. Um lugar flexível para viver, conviver e se apropriar.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="../../../../assets/imgs/oqueeh.png"/>Um espaço para a troca de conhecimento e de experiências, que conecta pessoas e ideias.</div>
            </div>
        </div>
        <div class="frameOqueNaoEh">            
            <div class="frameTitleOqueNaoEh">O que nao é</div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="../../../../assets/imgs/oquenaoeh.png"/>Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="../../../../assets/imgs/oquenaoeh.png"/>Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo"><img src="../../../../assets/imgs/oquenaoeh.png"/>Um espaço passivo. Um lugar para as pessoas se refugiarem e se fecharem em suas próprias ideias.</div>
            </div>
        </div>
        <div class="frameImageEstrutura">
            <img src="./assets/imgs/estrutura.jpg" width="100%"/>
        </div>
        
       <app-ecosistema-show
        topFrameMain="1121px"
        topFrameTitle= "1114px"
        topFrameText="1305px"
        topframeSociedade= "1307px"
        topFrameEmpreendedores ="1416px"
        topFrameAmbientes= "1382px"
        topFrameInstituicoes ="1382px"
        topFrameColaboradores= "1307px"
        topFrameGoverno="1450px">
       </app-ecosistema-show>

    </div>


</div>
<br>

