<div class="frameMain">
    <img src="../../../../assets//imgs/newsletter.jpg" width="100%"/>

        <div class="p-grid">
            <div class="p-field p-col-6 p-md-6">
                Nome
                <input type="text" pInputText placeholder="Nome"  />
            </div>
            <div class="p-field p-col-6 p-md-6">
                Sobrenome
                <input type="text" pInputText placeholder="Sobrenome"  />
            </div>  
            <div class="p-field p-col-6">
                Email
                <input type="text" pInputText placeholder="Email"  />
            </div>
            <div class="p-field p-col-6">
                Telefone
                <input type="text" pInputText placeholder="telefone"  />
            </div>        
            <div class="p-field p-col-6">
                CPF
                <input type="text" pInputText placeholder="cpf"  />
            </div>
            <div class="p-field p-col-6">
                CNPJ
                <input type="text" pInputText placeholder="cnpj(opcional)"  />
            </div>
            <div class="p-col-12">
                <h3>Lei Geral de Proteção de Dados (LGPD)*</h3>
            </div>
            <div class="p-col-12">
                <textarea pInputTextarea readonly="true" width="100%">
Estou ciente e concordo que poderei receber notícias, 
informações e comunicados do Sebraelab, seus realizadores, 
patrocinadores, apoiadores e demais parceiros do evento, 
por qualquer meio de comunicação informado no formulário (e-mail, telefone, endereço), 
sendo possível posterior remoção de cadastro, 
de acordo com a Lei Geral de Proteção de Dados (LGPD).
                </textarea>
            </div>
            <div class="p-col-12">
                <p-checkbox name="concordo" value="true" label="Li e aceito os termos acima." ></p-checkbox>                       
            </div>
            <div class="p-col-12">
                <h3>NEWSLETTER</h3>
                <p-checkbox name="aceito" value="true" label="Aceito receber informações e conteúdos do Sebrae e do Sebraelab em meu e-mail." ></p-checkbox>                       
            </div>            
        </div>
</div>