<div class="frameMain">
    <img src="../../../../assets//imgs/newsletter.jpg" width="100%"/>

        <div class="p-grid">
            <div class="p-field p-col-6 ">
                Nome{{inscricao.nome}}
                <input type="text" pInputText placeholder="Nome" [(ngModel)]="inscricao.nome"  maxlength="50"/>
                
            </div>
            <div class="p-field p-col-6">
                Sobrenome
                <input type="text" pInputText placeholder="Sobrenome" [(ngModel)]="inscricao.sobrenome" maxlength="50" />
            </div>  
            <div class="p-field p-col-6">
                Email
                <input type="text" pInputText placeholder="Email"  [(ngModel)]="inscricao.email" maxlength="250"/>
            </div>
            <div class="p-field p-col-6">
                Telefone
                <input type="text" pInputText placeholder="telefone" [(ngModel)]="inscricao.telefone" maxlength="20"/>
            </div>        
            <div class="p-field p-col-6">
                CPF
                <input type="text" pInputText placeholder="cpf"  [(ngModel)]="inscricao.cpf"/>
            </div>
            <div class="p-field p-col-6">
                CNPJ
                <input type="text" pInputText placeholder="cnpj(opcional)" [(ngModel)]="inscricao.cnpj"/>
            </div>
            <div class="p-col-12">
                <h3>Lei Geral de Proteção de Dados (LGPD)*</h3>
            </div>
            <div class="p-col-12">
                <textarea pInputTextarea readonly="true" width="100%">
Estou ciente e concordo que poderei receber notícias, 
informações e comunicados do Sebraelab, seus realizadores, 
patrocinadores, apoiadores e demais parceiros do evento, 
por qualquer meio de comunicação informado no formulário (e-mail, telefone, endereço), 
sendo possível posterior remoção de cadastro, 
de acordo com a Lei Geral de Proteção de Dados (LGPD).
                </textarea>
            </div>
            <div class="p-col-12">
                <p-inputSwitch [(ngModel)]="inscricao.aceitotermos">Li e aceito os termos acima.</p-inputSwitch>
                 
            </div>
            <div class="p-col-12">
                <h3>NEWSLETTER</h3>
                <p-inputSwitch [(ngModel)]="inscricao.aceitoreceber">Aceito receber informações e conteúdos do Sebrae e do Sebraelab em meu e-mail.</p-inputSwitch>
             
            </div>  
            <div class="p-col-12" style="text-align:center;">
                <button pButton type="button" style="background:#FFF028;color:black;border:0px;" label="Confirmar" class="buttonConfirmar paAnterior p-button-outlined" (click)="save()"></button>
            </div> 
        </div>
</div>