

.framecontent {
    //border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    text-align: center;
    
  
  }
  
  
  
  .framenews{
    //border: 1px solid;
    width: 264px;
    height: 60px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    

    letter-spacing: -0.02em;
    

    color: #263746;
    
    

  }
  
  
  .title{  
    //border: 1px solid;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    

    display: flex;
    align-items: left;
    

    color: #263746;
  }
  
  .confira{
    //border: 1px solid;
    width: 529px;
    height: 30px;
    

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    

    color: #334155;
    
    

    flex: none;
    order: 1;
    flex-grow: 0;}
  

  

  
.frameButtonsFiltro {
  //border: 1px solid;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 86px;

width: 100%;
//height: 80px;



flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.frameButtons{
  //border: 1px solid;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 472px;
height: 48px;



}

.pbutton {
  //border: 1px solid;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 48px;
  color: #334155;  
}

.pbuttonSelect {
  //border: 1px solid;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 48px;
  background-color: #ED4D9A; 
  color: #F8FAFC;
}

.framePesquisar{
  //border: 1px solid;

//display: flex;
//flex-direction: row;
//justify-content: space-between;
//align-items: center;
padding: 8px 16px;
//gap: 2px;

width: 305px;
height: 48px;


background: #F1F5F9;
border-radius: 88px;



}

.frameAnuncioInscricao{
 // border: 1px solid;
/* Auto layout */
//display: flex;
flex-direction: row;
align-items: flex-end;
padding: 16px 64px;
gap: 16px;

position: absolute;
width: 100%;
height: 98px;
left: 0px;
top: 68%;

}

.frameAnuncioInscricaoMobile{
  //border: 1px solid;
/* Auto layout */
//display: flex;
//flex-direction: row;
//align-items: flex-end;
//padding: 16px 64px;
//gap: 16px;

position: absolute;
width: 100%;
height: 130px;
left: 0px;
top: 290px;

background: linear-gradient(99.15deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 96.57%), linear-gradient(99.06deg, rgba(237, 77, 154, 0.7) 0.9%, rgba(233, 207, 46, 0.7) 96.73%);

}

.frameContainerTextMobile{
  //border: 1px solid;
width: 343px;
height: 100px;
left: 0px;


}


.botaoInscricao{
  //border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  position: absolute;
  width: 15%;
  height: 35%;
  left: 83%;
  top: 60%;  
  /* Cores da Marca/Cores principais/Amarelo */
  background: #FFF028;
  border-radius: 8px;

}

.botaoInscricaoMobile{
  //border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  position: absolute;
  width: 80%;
  height: 25%;
  left: 10%;
  top: 70%;  
  /* Cores da Marca/Cores principais/Amarelo */
  background: #FFF028;
  border-radius: 8px;

}

.frameAssineNossaNewsLetter{
  //border: 1px solid;
  width: 218px;
height: 28px;

/* Heading/H6 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */


/* Tailwind/white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frameTextframeAssineNossaNewsLetter{
  //border: 1px solid;
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;

/* Tailwind/white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.imageItem{
  //border: 1px solid;
 
   display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0px;
 gap: 12px;
 
 width:23%;
 height: 318px;
 text-align: left;

 background: #FFFFFF;
 

 box-shadow: 0px 1px 2px -1px rgba(16, 24, 40, 0.15), 0px 1px 3px rgba(16, 24, 40, 0.1);
 


 }


.card { 
  width: 23%;
  display: inline-block;
}


@media screen and (max-width: 500px) {

  .card
{
      width: 70%;
  }
}