  
<app-header></app-header>

<div *ngIf="!isMobile">
    <img src="assets/banners/banner_meuevento.png" width="100%">
</div>
<div *ngIf="isMobile">
    <img src="assets/banners/banner_facaEvento_mobile.png" width="100%">
</div>

<div class="frameAvisoEnvio">    
    <img src="assets/imgs/star.png"><label>Após o envio, avaliaremos e enviaremos a confirmação ao seu e-mail informado.</label>
</div>
<div class="Rectangle1059">
    <div class="frameCalendar">
        <app-calendario-edit (clickSelect)="selectDate($event)"></app-calendario-edit>
    </div>
</div>
<div class="frameCrieSeuEvento">
    <label>CRIE SEU EVENTO</label>
    <div class="frameTimeline">        
        <app-evento-submit [periodos]="selectedPeriodos"></app-evento-submit>
    </div>       
</div>
<div class="frameFuncionamento" >
    <app-funcionamento-show></app-funcionamento-show>   
    <app-contato-submit></app-contato-submit>    
</div>
 

    





