.carousel-home-index {
  background: transparent linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
  //linear-gradient(180deg, #0c5eaf 0%, #004182 100%) 0% 0% no-repeat padding-box;
}

.frameCard{position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 85px;}

.banner-item {
    height: 100px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    .details {
      width: 100%;
      height: 400px;
      max-width: 1140px;
      color: #FFF;
      h2 {
        color: #FFF;
        display: block;
      }
      p {
          display: block;
      }
      .card-text {
          max-width: 600px;
          background: rgba(0, 0, 0, 0.233);
          border-radius: .6rem;
          text-shadow: 1px 1px #727272;
          p {
              font-size: .9rem;
              font-weight: normal;
          }
      }
    }
}

.banner-item:hover {
  cursor: pointer;
}
