


<!--<div class="frameMain" style="top:{{topFrameMain}}" *ngIf="!isMobile">

    <div class="frameTitle" style="top:{{topFrameTitle}}; left:{{leftFrameTitle}}">
        Para quem
    </div>

    <div class="frameText" style="top:{{topFrameText}};left:{{leftFrameText}}">
        O sebraelab é um espaço aberto para todo o ecossistema de inovação do Espírito Santo, que inclui:
    </div>  

    <div class="frameWhois frameSociedade" style="top:{{topframeSociedade}};left:{{leftframeSociedade}};">
        <img src="./assets/imgs/fish_1.png"/>
        Sociedade
    </div>

    <div class="frameWhois frameEmpreendedores" style="top:{{topFrameEmpreendedores}};left:{{leftFrameEmpreendedores}};">
        <img src="./assets/imgs/fish_2.png"/>
        Empreendedores e Empresas
    </div>

    <div class="frameWhois frameAmbientes" style="top:{{topFrameAmbientes}};left:{{leftFrameAmbientes}};">
        <img src="./assets/imgs/fish_3.png"/>
        Ambientes promotores de inovação
    </div>

    <div class="frameWhois frameInstituicoes" style="top:{{topFrameInstituicoes}};left:{{leftFrameInstituicoes}};">
        <img src="./assets/imgs/fish_4.png"/>
        Demais instituições parceiras
    </div>

    <div class="frameWhois frameColaboradores" style="top:{{topFrameColaboradores}};left:{{leftFrameColaboradores}};">
        <img src="./assets/imgs/fish_2.png"/>
        Colaboradores
    </div>

    <div class="frameWhois frameGoverno" style="top:{{topFrameGoverno}};left:{{leftFrameGoverno}};">
        <img src="./assets/imgs/fish_1.png"/>   
        Governo
    </div> 

</div>-->


<div  *ngIf="!isMobile" >

    <div class="p-col-12 frameTitle" >
        Para quem
    </div>

    <div class="p-col-12 frameText">
        O sebraelab é um espaço aberto para todo o ecossistema de inovação do Espírito Santo, que inclui:
    </div>
    
    <div class="frameContainer" >
        <div class="p-grid" style="text-align:center;width: 50%;">

            <div class="frameEmpreendedores frameWhois p-col-6" style="text-align:center;">
                <img src="./assets/imgs/fish_2.png"/><br>
                Empreendedores e Empresas
            </div>

        
            <div class="frameInstituicoes frameWhois p-col-6" style="text-align:center;">
                <img src="./assets/imgs/fish_4.png"/><br>
                Demais instituições parceiras
            </div>

            <div class="frameAmbientes frameWhois p-col-12" style="text-align:center;">
                <img src="./assets/imgs/fish_3.png"/><br>
                Ambientes promotores de inovação
            </div>

            <div class="frameColaboradores frameWhois p-col-12" style="text-align:center">
                <img src="./assets/imgs/fish_2.png"/><br>
                Colaboradores Sebrae
            </div>

            <div class="frameGoverno frameWhois p-col-6" style="text-align:center">
                <img src="./assets/imgs/fish_1.png"/><br>  
                Governo
            </div> 

            <div class="frameSociedade frameWhois p-col-6" style="text-align:center">
                <img src="./assets/imgs/fish_1.png"/><br>
                Sociedade
            </div>
        </div>

    </div>
</div>


<div class="frameMainMobile" style="top:{{topFrameMain}}"  *ngIf="isMobile" >

    <div class="frameTitleMobile" >
        Para quem
    </div>

    <div class="frameTextMobile" >
        O sebraelab é um espaço aberto para todo o ecossistema de inovação do Espírito Santo, que inclui:
    </div>
    
    <div class="frameContainerMobile" style="align-items:center;">
        <div class="p-grid" style="text-align:center;width: 80%;">


            <div class="frameEmpreendedores p-col-6" style="text-align:center;">
                <img src="./assets/imgs/fish_2.png"/><br>
                Empreendedores e Empresas
            </div>

        
            <div class="frameInstituicoes p-col-6" style="text-align:center;">
                <img src="./assets/imgs/fish_4.png"/><br>
                Demais instituições parceiras
            </div>

            <div class="frameAmbientes p-col-12" style="text-align:center;">
                <img src="./assets/imgs/fish_3.png"/><br>
                Ambientes promotores de inovação
            </div> 

            <div class="frameColaboradores p-col-12" style="text-align:center">
                <img src="./assets/imgs/fish_2.png"/><br>
                Colaboradores Sebrae
            </div>

            <div class="frameGoverno p-col-6" style="text-align:center">
                <img src="./assets/imgs/fish_1.png"/><br>  
                Governo
            </div> 

            <div class="frameSociedade p-col-6" style="text-align:center">
                <img src="./assets/imgs/fish_1.png"/><br>
                Sociedade
            </div>
        </div>

    </div>
</div>