
<div class="frameMain" style="top:{{topFrameMain}}">

    <div class="frameTitle" style="top:{{topFrameTitle}}">
        Para quem
    </div>

    <div class="frameText" style="top:{{topFrameText}}">
        O sebraelab é um espaço aberto para todo o ecossistema de inovação do Espírito Santo, que inclui:
    </div>  

    <div class="frameWhois frameSociedade" style="top:{{topframeSociedade}};">
        <img src="./assets/imgs/fish_1.png"/>
        Sociedade
    </div>

    <div class="frameWhois frameEmpreendedores" style="top:{{topFrameEmpreendedores}};">
        <img src="./assets/imgs/fish_2.png"/>
        Empreendedores e Empresas
    </div>

    <div class="frameWhois frameAmbientes" style="top:{{topFrameAmbientes}};">
        <img src="./assets/imgs/fish_3.png"/>
        Ambientes promotores de inovação
    </div>

    <div class="frameWhois frameInstituicoes" style="top:{{topFrameInstituicoes}};">
        <img src="./assets/imgs/fish_4.png"/>
        Demais instituições parceiras
    </div>

    <div class="frameWhois frameColaboradores" style="top:{{topFrameColaboradores}};">
        <img src="./assets/imgs/fish_2.png"/>
        Colaboradores
    </div>

    <div class="frameWhois frameGoverno" style="top:{{topFrameGoverno}};">
        <img src="./assets/imgs/fish_1.png"/>   
        Governo
    </div> 

</div>