<!-- Page Content -->

<div class="wrapper">
    <body class="py-auto  mb-auto " style="background: #f5f5f5;">
      <div class="container main-container">
          <div class="row text-center">
            <div class="container h-100">
              <div class="row h-100 align-items-center py-5">
                <div class="col-lg-12 center" style="text-align:center">
                  <h1 class="display-2 mt-5 mb-2">Bem vindo ao SebraeLab!</h1>
                  <p class="lead mb-5 ">Toque para prosseguir.</p>
                </div>
              </div>
            </div>
          </div>
      </div> 
    </body>
</div>

