@font-face {
    font-family: "Poppins";  
    src: url("./Poppins-Regular.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-BlackItalic";  
    src: url("./Poppins-BlackItalic.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-Bold";  
    src: url("./Poppins-Bold.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-BoldItalic";  
    src: url("./Poppins-BoldItalic.ttf") format("opentype");  
  }


  @font-face {
    font-family: "Poppins-ExtraBold";  
    src: url("./Poppins-ExtraBold.ttf") format("opentype");  
  }


  @font-face {
    font-family: "Poppins-ExtraBoldItalic";  
    src: url("./Poppins-ExtraBoldItalic.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-ExtraLightItalic";  
    src: url("./Poppins-ExtraLight.ttf") format("opentype");  
  }


  @font-face {
    font-family: "Poppins-Light";  
    src: url("./Poppins-Light.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-LightItalic";  
    src: url("./Poppins-LightItalic.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-MediumItalic";  
    src: url("./Poppins-MediumItalic.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-Regular";  
    src: url("./Poppins-Regular.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-SemiBold";  
    src: url("./Poppins-SemiBold.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-SemiBoldItalic";  
    src: url("./Poppins-SemiBoldItalic.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-Thin";  
    src: url("./Poppins-Thin.ttf") format("opentype");  
  }

  @font-face {
    font-family: "Poppins-ThinItalic";  
    src: url("./Poppins-ThinItalic.ttf") format("opentype");  
  }