
<app-header></app-header> 
<app-banners-show fileName="assets/banners/BannerConteudo.jpg"></app-banners-show>

<div class="frameMain">
    inicio
    <div class="frameGerenciadorConteudo">
        <div class="frameTitleGerenciadorConteudo">
            Gerenciador de conteúdos
        </div>

       <div class="frameConteudo">
            <p-tabView>
                <p-tabPanel header="Header 1">
                   Notícias
                </p-tabPanel>
                <p-tabPanel header="Header 2">
                    EBooks
                </p-tabPanel>
                <p-tabPanel header="Header 3">
                    Editais
                </p-tabPanel>
                <p-tabPanel header="Header 4">
                    Outros
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>



</div>

