
<app-header></app-header> 
<app-banners-show fileName="assets/banners/BannerConteudo.jpg"></app-banners-show>
<div class="frameMain">
    <div class="frameGerenciadorConteudo p-grid">
        <div class="frameTitleGerenciadorConteudo">
            Gerenciador de conteúdos
        </div>
        <button pButton type="button"  label="Criar novo conteúdo" class="frameNovoConteudo p-button-outlined" (click)="ShowNovoConteudo()"></button>
     
    </div>
    <p></p>

    <div class="frameConteudo">
        <div class="frameButtonsFiltro">
            <div class="frameButtons">                        
                <button pButton type="button" label="Notícias" class="pbutton p-button-rounded p-button-outlined" (click)="applyFilter('Noticia')"></button> 
                <button pButton type="button" label="Ebooks" class="pbutton p-button-rounded p-button-outlined" (click)="applyFilter('Ebook')" ></button>
                <button pButton type="button" label="Editais" class="pbutton p-button-rounded p-button-outlined" (click)="applyFilter('Edital')" ></button>
                <button pButton type="button" label="Outros" class="pbutton p-button-rounded p-button-outlined" (click)="applyFilter('Outro')" ></button>
             </div>
            
           <div class="framePesquisar">
                <span class=" p-input-icon-right" >
                    <i class="pi pi-search" style="cursor: pointer"  (click)="search(seachValue)"> </i>
                    <input type="text" pInputText placeholder="Pesquisar" style="width:'270px;background: #F1F5F9;border:0px;'" [(ngModel)]="seachValue" >         
                </span>             
           </div> 
        </div>
        <p></p>
        <p-tabView>
            <p-tabPanel header="Rascunhos">                
                <div class="frameConteudoPublicacoes" *ngIf="rascunhos.length > 0">                   
                    <p-dataView [value]="rascunhos" [rows]="4" [paginator]="true" [loading]="false">
                        <ng-template let-rascunho pTemplate="listItem">                            
                            <p-card  styleClass="p-card-shadow" [style]="{'width': '79rem', 'margin-bottom': '0.5em', 'background-color':'#F8FAFC' }">
                               <div class="p-grid p-col-12">
                                    <div class="p-col-3" >
                                       <!-- <img src="../../../assets/photos/Rectangle 11.png">-->
                                    </div>
                                    <div class="p-col-7" >                                   
                                        <div>
                                            {{rascunho.descricao}} 
                                        </div>                                                                            
                                    </div>   
                                    <div class="p-col-2">
                                        <button pButton type="button"  label="Excluir" class="p-button-outlined" (click)="removeConteudo(rascunho.id)"></button>&nbsp;
                                        <button pButton type="button"  label="Continuar" class="frameNovoContinuar p-button-outlined" (click)="showEditConteudo(rascunho.id)"></button>
                                    </div>              
                               </div>                                 
                            </p-card>
                        </ng-template>
                    </p-dataView> 
                </div> 
                <p></p>
                <div *ngIf="rascunhos.length == 0" style="text-align: center;">
                    <div style="font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 18px;line-height: 28px;color: #263746;">
                        Você ainda não tem nenhum rascunho
                    </div>
                    <p></p>
                    <div style="font-family: 'PT Serif';font-style: normal;font-weight: 400;font-size: 16px;line-height: 150%;">
                        Clique no botão abaixo para criar um novo conteúdo
                    </div>
                    <p></p>
                    <button pButton type="button"  label="Criar novo conteúdo" class=" p-button-outlined" (click)="ShowNovoConteudo()"></button>
                </div> 
            </p-tabPanel>
            <p-tabPanel header="Publicados">
                <div class="frameConteudoPublicacoes">
                    <p-dataView [value]="publicados" [rows]="4" [paginator]="true" [loading]="false">
                        <ng-template let-publicado pTemplate="listItem">                            
                            <p-card  styleClass="p-card-shadow" [style]="{'width': '79rem', 'margin-bottom': '0.5em', 'background-color':'#F8FAFC' }">
                                <div class="p-grid p-col-12">
                                    <div class="p-col-3" >
                                       <!-- <img src="../../../assets/photos/Rectangle 11.png">-->
                                    </div>
                                    <div class="p-col-7" >                                   
                                        <div>
                                            {{publicado.descricao}} 
                                        </div>                                                                            
                                    </div>   
                                    <div class="p-col-2">
                                        <button pButton type="button"  label="Desativar" class="p-button-outlined" (click)="inactiveConteudo(publicado.id)"></button>&nbsp;
                                        <button pButton type="button"  label="Editar" class="frameNovoContinuar p-button-outlined" (click)="showEditConteudo(publicado.id)"></button>
                                    </div>              
                               </div>                               
                            </p-card>
                        </ng-template>
                    </p-dataView> 
                </div>  
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<p-confirmDialog #cd  [breakpoints]="{'560px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
        <button type="button" class="p-button-danger" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>