<p-dialog [(visible)]="visible" 
position="center"
styleClass="p-fluid"
[modal]="true"
[closable]="false"
[(visible)]="visible"
[showHeader]="false"
[breakpoints]="{ '950px': '89%' }"
[style]="{width: '40vw'}">
    
<p></p>
    <div class="p-grid" >
        <div class="p-col-12" *ngIf="typeDialog=='Sucesso'" style="text-align: center;">
            <img src="./assets/imgs/sucesso.png">
        </div>
        <div class="p-col-12" *ngIf="typeDialog=='Erro'" style="text-align: center;">
            <img src="./assets/imgs/erro.png">
        </div>
        <div class="p-col-12" *ngIf="typeDialog=='Atenção'" style="text-align: center;">
            <img src="./assets/imgs/atencao.png">
        </div>
        <div  class="p-col-12" style="text-align: center;">
            <label> <h1><b>{{typeDialog}}!</b></h1></label>
        </div>
        <div class="p-col-12" style="
            text-align: center;       
            display: block; 
            height: auto;
            word-break: break-all; 
            word-wrap: break-word; 
            white-space: normal;" 
            [innerHtml]="messageDialog">
           
        </div>  
    </div>  

    <div  class="p-col-12" style="text-align: center;" *ngIf="typeDialog=='Sucesso'">
        <button style="width: '80px'" pButton type="button" label="OK" class="p-button-success" (click)="handleClick($event)" autofocus></button>
    </div>  

    
    <div  class="p-col-12" style="text-align: center;" *ngIf="typeDialog=='Erro'">
        <button style="width: '80px'" pButton type="button" label="OK" class="p-button-danger" (click)="handleClick($event)" autofocus></button>
    </div>  

    
    <div  class="p-col-12" style="text-align: center;" *ngIf="typeDialog=='Atenção'">
        <button style="width: '80px'" pButton type="button" label="OK" class="p-button-warning" (click)="handleClick($event)" autofocus></button>
    </div>  

</p-dialog>