<div>  
    <app-header></app-header> 
        <img src="assets/banners/banner_meuevento.png" width="100%" height="500px">    
    
        <div class="framBanner" *ngIf="eventslab.length > 0"> 
            <p-dataView [value]="eventslab" [paginator]="true" [rows]="1">
                <ng-template let-evento pTemplate="listItem">                  
                   <div class="p-grid">
                        <div class="p-col-6" *ngIf="evento.picture!=''">                       
                            <img [src]="evento.picture" width="100%" height="300px"/>
                        </div> 
                        
                        <div class="frameBannerDetails p-col-6">
                            <div> 
                                <h2>{{evento.datainicio}} {{getMonthDescription(evento.data)}}</h2>
                            </div>
                            <div class="frameBannerDetailsConteudoHoras ">{{evento.horainicio}} -{{evento.horafim}}</div>
                            <div class="frameBannerDetailsConteudoTitulo">{{evento.titulo}}</div>
                            <div class="frameBannerDetailsConteudoDescricao">{{evento.subtitulo}}</div>
                            <p></p>
                            <div>
                                <a href="{{evento.linksparainscricao}}" target="_blank">
                                    <button pButton type="button" 
                                    label="Inscreva-se " 
                                    class="p-button-outlined" 
                                    style="background:#FFF028;color:#FFFFFF;border:0px;width: 150px;height: 44px;">
                                    </button>
                                </a>
                            </div>          
                        </div>
                    </div>
                </ng-template>
            </p-dataView>    
        </div>
       
        
      
        <div class="frameEventlab" > 
   
            <div class="frameEventlabDetails">                
                 <div class="framebuttons">                           
                     <button pButton type="button" label="Esta semana" class="p-button-rounded p-button-outlined" (click)="selectThisWeek()" ></button> 
                     <button pButton type="button" label="Próxima semana" class="p-button-rounded p-button-outlined" (click)="selectNextWeek()" ></button>
                     <button pButton type="button" label="Este mês" class="p-button-rounded p-button-outlined" (click)="selectThisMonth()" ></button>
                     <button pButton type="button" label="próximo mês" class="p-button-rounded p-button-outlined" (click)="selectNextMonth()" ></button>
                     <button pButton type="button" label="Agenda completa" class="p-button-rounded p-button-outlined" (click)="showCalendar()" ></button>
                     <div class="framePesquisar" style="align-items:right;">
                        <span class="p-input-icon-right" >
                            <i class="pi pi-search" style="cursor: pointer" ></i>
                            <!--<i class="pi pi-spin pi-spinner"></i>-->        
                            <input type="text" pInputText placeholder="Pesquisar" style="width:'270px';background: #F1F5F9;border:'0px;'"> 
                        </span>
        
                   </div> 
                 </div>    
                   

               <div class="p-d-flex p-ai-flex p-jc-center" *ngIf="fullCalendar">
                    <div class="p-d-flex p-ai-center p-jc-center">
                        <div class="p-d-fluid " style="width:'1100px';">
                            <app-fullcalendario-show></app-fullcalendario-show>            
                        </div>  
                    </div>  
                </div>   
                 
                             
               <div class="frameEventslablist" *ngIf="eventslab.length > 0 && !fullCalendar">      
                        <p-dataView [value]="eventslab" [paginator]="true" [rows]="12">
                             <ng-template let-evento pTemplate="listItem">              
                                 <div class="frameEventlabItem">     
      
                                        <div class="frameEventlabitemDetails">                                    
                                             <div class="frameEventlabitemDetailsCenter">
                                                <div style="text-align:center;">
                                                    <div class="frameDate" *ngIf="evento.datainicio!=evento.datafim">
                                                        <div class="frameDateDays"> {{evento.datainicio}}<div style=" color: #C45F13;">></div>{{evento.datafim}}</div> 
                                                    </div>   
                                                    <div class="frameDate" *ngIf="evento.datainicio==evento.datafim">
                                                        <div class="frameDateDays"> {{evento.datainicio}}</div> 
                                                    </div> 
                                                 
                                                    <h4>{{getMonthDescription(evento.data)}}</h4>
                                                 </div>                      

                                                 <div class="frameHour">
                                                     <div class="eventlabTime">{{evento.horainicio}} - {{evento.horafim}}</div><br>
                                                     <div class=" eventlabName">{{evento.titulo}}</div><br>
                                                     <div class="eventlabSummary">{{evento.subtitulo}}</div><br>
                                                 </div>        
                                             </div>                                         
                                             <div class="frameEventlabSubscribe">
                                                <a href="/evento?id={{evento.id}}">Inscreva-se ></a>                            
                                                <router-outlet></router-outlet> 
                                             </div>                      
                                         </div>
                                                           
                                     </div>  
                                     <div style="background: #F8FAFC">&nbsp;&nbsp;&nbsp;</div>             
                            </ng-template>
                         </p-dataView>                    
                    
                 </div>           
             </div>
         </div>
     

</div>




