<div [ngClass]="!isMobile ? 'carousel-home-index' : 'carousel-home-index-mobile'">
    <p-carousel 
        [value]="imgs"  
        [autoplayInterval]="!isMobile ?3500:0" 
        [circular]="true" 
        styleClass="carousel-responsive" 
        [showIndicators]="false"
        >
        <ng-template let-item pTemplate="item">
        <div 
        [ngClass]="!isMobile ? 'banner-item  p-ai-center p-jc-center' : 'banner-item-mobile  p-ai-center p-jc-center'"
        
        [ngStyle]="!isMobile ? {'background': 'url('+ item.image + ') no-repeat'}: {'background': 'url('+ './assets/banners/banner_mobile.png' + ') repeat'} ">
       
        </div>
        
        </ng-template>
    </p-carousel>
  
    <div *ngIf="!isMobile" >
        <div class="LEARN">   
            <a href="./quemsomos/#bannersLEARN">LEARN</a>
            <div class="barLearn"></div>
            <div class="textBar">Concentração, conhecimento e aprendizado validado. </div>
        </div >

        <div class="ATTEND">    
            <a href="./quemsomos/#bannersATTEND">ATTEND</a>
            <div class="barAttend"></div>
            <div class="textBar">Produção, criação participativa e colaborativa </div>
        </div>

        <div class="BUSINESS">  
            <a href="./quemsomos/#bannersBUSINESS">BUSINESS</a>  
            <div class="barBusiness"></div>
            <div class="textBar">Conexão, hub de negócios e acessos a mercados.</div>
        </div>        
    </div>

    <div *ngIf="isMobile">
        <div class="frameCardsMobile">
            <div class="frameCardMobile" style="order:0">   
                <a href="./quemsomos/#bannersLEARN">LEARN</a> 
            <div class="barLearn"></div>
                <div class="textBar">Concentração, conhecimento e aprendizado validado. </div>     
            </div>

            <div class="frameCardMobile"  style="order:1">    
                <a href="./quemsomos/#bannersATTEND">ATTEND</a>
            <div class="barAttend"></div>
                <div class="textBar">Produção, criação participativa e colaborativa </div>       
            </div>

            <div class="frameCardMobile"  style="order:2">  
                <a href="./quemsomos/#bannersBUSINESS">BUSINESS</a>  
                <div class="barBusiness"></div>
                <div class="textBar">Conexão, hub de negócios e acessos a mercados.</div>        
            </div> 
        </div>

    </div>
</div>







