<div>  
    <app-header></app-header>
     
    
    <div *ngIf="!isMobile">
        <img src="assets/banners/1.jpg" width="100%" height="500px">
    </div>
    <div *ngIf="isMobile">
        <img src="assets/banners/banner_QuemSomos_Mobile.png" width="100%">
    </div>

    <app-entenda-sebraelab-show [isMobile]="isMobile"></app-entenda-sebraelab-show>
    <app-espaco-show [isMobile]="isMobile"> </app-espaco-show>
    <app-na-pratica-show></app-na-pratica-show>
    <app-espacofisico-show></app-espacofisico-show>   
</div>


