<div>  
    PROXIMO EVENTOS
</div>

<div class="frameEventlabList" >    
    
    <span class="p-input-icon-right " >
        <i class="pi pi-search" style="cursor: pointer" (click)="search(seachValue)"></i>
        <input type="text" pInputText  placeholder="Search" style="width:'100%'" [(ngModel)]="seachValue">         
    </span>

    <label> ">" dias Consecutivos , ... dias Alternados</label>

    <div *nfIf="eventslab.length > 0">
        <p-dataView [value]="eventslab" [paginator]="true" [rows]="4">
            <ng-template let-eventlab pTemplate="listItem">                                       
                <div class="frameEventlabitemDetails " style="cursor: pointer" 
                    (click)="showAlterarEvento(eventlab.id)"
                    onmouseover="this.style.background='#EAF7FC';" 
                    onmouseout="this.style.background='white';">                  
                <div class="frameDate" >
                        <div class="frameDateDays" >                      
                            <div><h2>{{eventlab.datainicial}}</h2></div>
                            <div style=" color: #C45F13;" *ngIf="(eventlab.datafinal - eventlab.datainicial > 0 ) && (eventlab.dias > 1) && (eventlab.dias > eventlab.datafinal - eventlab.datainicial)">></div>
                            <div *ngIf="(eventlab.datafinal - eventlab.datainicial + 1 > eventlab.dias ) && (eventlab.dias > eventlab.datafinal - eventlab.datainicial)  ">,</div>
                            <div *ngIf="(eventlab.datafinal - eventlab.datainicial + 1 > eventlab.dias ) ">...</div>
                            <div *ngIf="(eventlab.datafinal - eventlab.datainicial > 0 )"><h2>{{eventlab.datafinal}}</h2></div>
                        </div>
                        <div style="color: #ED4D9A;"><b>{{getMonthDescription(eventlab.data)}}</b></div> 
                    </div>
                    <div class="frameEventlabitemDetailsCenter">                       
                        <div class="eventlabTime">{{eventlab.horainicial}} - {{eventlab.horafinal}}</div><br>
                        <div class=" eventlabName">{{eventlab.titulo}}</div><br>
                        <div class="eventlabSummary">{{eventlab.subtitulo}}</div><br>
                    </div>                                          
                </div>                       
            </ng-template>
        </p-dataView> 
    </div>
</div>   


