<div>  
    PROXIMO EVENTOS
</div>





<div class="frameEventlabList"> 
    
    
    <span class="p-input-icon-right " >
        <i class="pi pi-search"></i>
        <input type="text" pInputText  placeholder="Search" style="width:'350px'">         
    </span>


<p-dataView [value]="eventslab">
    <ng-template let-eventlab pTemplate="listItem">                                       
                <div class="frameEventlabitemDetails">                    
                    <div class="frameDate">
                        <div class="frameDateDays"> 
                            {{eventlab.dateStart}}<div style=" color: #C45F13;">></div>{{eventlab.dateEnd}}
                        </div> 
                    </div>
                    <div class="frameEventlabitemDetailsCenter">            
                        
                            <div class="eventlabTime">{{eventlab.hourStart}} - {{eventlab.hourEnd}}</div><br>
                            <div class=" eventlabName">{{eventlab.name}}</div><br>
                            <div class="eventlabSummary">{{eventlab.summary}}</div><br>
                    </div>                                          
                </div>                       
    </ng-template>

    <ng-template pTemplate="paginatorleft" let-state>
        {{state.first}}
        <button type="button" pButton icon="pi-refresh"></button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <button type="button" pButton icon="pi-cloud-upload"></button>
    </ng-template>
    <ng-template let-item pTemplate="paginatordropdownitem">
        {{item.value}} - per page
    </ng-template>

</p-dataView> 
</div>   


